@charset "UTF-8";
@-webkit-keyframes backdrop {
  0% {
    background-color: black;
  }
  50% {
    background-color: grey;
  }
  100% {
    background-color: black;
  }
}
@keyframes backdrop {
  0% {
    background-color: black;
  }
  50% {
    background-color: grey;
  }
  100% {
    background-color: black;
  }
}

@-webkit-keyframes cf3FadeInOut {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes cf3FadeInOut {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@font-face {
  font-family: "d-din";
  src: url("fonts/d-din-webfont.ttf") format("truetype"), url("fonts/d-din-webfont.woff") format("woff"), url("fonts/d-din-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "d-din bold";
  src: url("fonts/d-din-bold-webfont.woff") format("woff"), url("fonts/d-din-bold-webfont.woff2") format("woff2");
}

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon/icomoon.eot?694cxx");
  src: url("fonts/icomoon/icomoon.eot?694cxx#iefix") format("embedded-opentype"), url("fonts/icomoon/icomoon.ttf?694cxx") format("truetype"), url("fonts/icomoon/icomoon.woff?694cxx") format("woff"), url("fonts/icomoon/icomoon.svg?694cxx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"], [class*="nav-toggle"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e901";
}

.icon-add:before {
  content: "\e90b";
}

.icon-close:before {
  content: "\e90c";
}

.icon-chevron-down:before {
  content: "\e90a";
}

.icon-line:before {
  content: "\e903";
}

.icon-search:before {
  content: "\e900";
}

.icon-fb:before {
  content: "\e906";
}

.icon-gp:before {
  content: "\e907";
}

.icon-tw:before {
  content: "\e908";
}

.icon-wa:before {
  content: "\e909";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-youtube:before {
  content: "\ea9d";
}

.icon-chevron-thin-right:before {
  content: "\e905";
}

.icon-chevron-thin-left:before {
  content: "\e902";
}

.icon-chevron-thin-down:before {
  content: "\e911";
}

.icon-chevron-thin-right1:before {
  content: "\e913";
}

.icon-chevron-thin-up:before {
  content: "\e914";
}

.icon-angle-double-left:before {
  content: "\f100";
}

.icon-angle-double-right:before {
  content: "\f101";
}

body {
  font-family: "d-din", sans-serif;
  color: #231f20;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  vertical-align: top;
  outline: 0;
  -webkit-transition: "all" 0.2s ease;
  transition: "all" 0.2s ease;
}

a:hover {
  text-decoration: none;
}

a:focus,
button:focus {
  outline: 0;
  outline: -webkit-focus-ring-color auto 0;
  outline-offset: 0;
}

strong {
  font-weight: 700;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
  vertical-align: top;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

input:focus::-webkit-input-placeholder,
input:focus:-moz-placeholder,
input:focus::-moz-placeholder,
input:focus:-ms-input-placeholder {
  color: transparent;
}

h1, h2, h3 {
  margin: 0;
}

.clearfix {
  *zoom: 1;
  position: relative;
}

.clearfix:after, .clearfix:before {
  display: table;
  content: "";
  line-height: 0;
}

.clearfix:after {
  clear: both;
}

.mt1 {
  margin-top: 10px;
}

.mt2 {
  margin-top: 20px;
}

.mt3 {
  margin-top: 30px;
}

.mt4 {
  margin-top: 40px;
}

.mt6 {
  margin-top: 60px;
}

.mt10 {
  margin-top: 100px !important;
}

.mb1 {
  margin-bottom: 10px;
}

.mb2 {
  margin-bottom: 20px;
}

.mb3 {
  margin-bottom: 30px;
}

.mb4 {
  margin-bottom: 40px;
}

.pad0 {
  padding: 0;
}

.pv2 {
  padding: 20px 0px;
}

.fr {
  float: right;
}

.display-table {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.display--block {
  display: block;
}

.display-center {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  height: 100%;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.table {
  display: table;
  margin: 0 auto;
}

.pink::-moz-selection {
  background: #ed503e;
  color: #e6e9e0;
}

.pink::selection {
  background: #ed503e;
  color: #e6e9e0;
}

.pink::-moz-selection {
  background: #ed503e;
  color: #e6e9e0;
}

.display-center {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  height: 100%;
}

.display-table {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.overflow {
  overflow-x: hidden;
}

.ps3 {
  padding: 0 3.5rem !important;
}

.display-desktop {
  display: none !important;
}

@media (min-width: 768px) {
  .display-desktop {
    display: block !important;
  }
}

.display-mobile {
  display: block !important;
}

@media (min-width: 768px) {
  .display-mobile {
    display: none !important;
  }
}

#section-3 .header__img {
  background: url(../images/pijaru-text.png) no-repeat !important;
  background-size: contain !important;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  *zoom: 1;
}

@media (min-width: 1100px) {
  .container {
    width: 1100px;
  }
}

@media (min-width: 1100px) {
  .container--large {
    width: 1440px;
  }
}

.col-20,
.col-30,
.col-40,
.col-50,
.col-60,
.col-70,
.col-80,
.col-100 {
  float: left;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0;
}

.col-20 {
  width: 25%;
}

.col-30 {
  width: 33.33333333%;
}

.col-40 {
  width: 41.66666667%;
}

.col-50 {
  width: 50%;
}

.col-60 {
  width: 58.33333333%;
}

.col-70 {
  width: 66.66666667%;
}

.col-80 {
  width: 75%;
}

.col-100 {
  width: 100%;
}

.col-offset-fluid {
  margin-right: -15px;
  margin-left: -15px;
}

.col-offset-0 {
  padding-right: 0px;
  padding-left: 0px;
}

/*!
Pure v1.0.0
Copyright 2013 Yahoo!
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/
.pure-g {
  letter-spacing: -.31em;
  text-rendering: optimizespeed;
  font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  table .pure-g {
    display: block;
  }
}

.opera-only :-o-prefocus,
.pure-g {
  word-spacing: -.43em;
}

.pure-u,
.pure-u-1,
.pure-u-1-1,
.pure-u-1-12,
.pure-u-1-2,
.pure-u-1-24,
.pure-u-1-3,
.pure-u-1-4,
.pure-u-1-5,
.pure-u-1-6,
.pure-u-1-8,
.pure-u-10-24,
.pure-u-11-12,
.pure-u-11-24,
.pure-u-12-24,
.pure-u-13-24,
.pure-u-14-24,
.pure-u-15-24,
.pure-u-16-24,
.pure-u-17-24,
.pure-u-18-24,
.pure-u-19-24,
.pure-u-2-24,
.pure-u-2-3,
.pure-u-2-5,
.pure-u-20-24,
.pure-u-21-24,
.pure-u-22-24,
.pure-u-23-24,
.pure-u-24-24,
.pure-u-3-24,
.pure-u-3-4,
.pure-u-3-5,
.pure-u-3-8,
.pure-u-4-24,
.pure-u-4-5,
.pure-u-5-12,
.pure-u-5-24,
.pure-u-5-5,
.pure-u-5-6,
.pure-u-5-8,
.pure-u-6-24,
.pure-u-7-12,
.pure-u-7-24,
.pure-u-7-8,
.pure-u-8-24,
.pure-u-9-24 {
  display: inline-block;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

.pure-g [class*=pure-u] {
  font-family: sans-serif;
}

.pure-u-1-24 {
  width: 4.1667%;
}

.pure-u-1-12,
.pure-u-2-24 {
  width: 8.3333%;
}

.pure-u-1-8,
.pure-u-3-24 {
  width: 12.5%;
}

.pure-u-1-6,
.pure-u-4-24 {
  width: 16.6667%;
}

.pure-u-1-5 {
  width: 20%;
}

.pure-u-5-24 {
  width: 20.8333%;
}

.pure-u-1-4,
.pure-u-6-24 {
  width: 25%;
}

.pure-u-7-24 {
  width: 29.1667%;
}

.pure-u-1-3,
.pure-u-8-24 {
  width: 33.3333%;
}

.pure-u-3-8,
.pure-u-9-24 {
  width: 37.5%;
}

.pure-u-2-5 {
  width: 40%;
}

.pure-u-10-24,
.pure-u-5-12 {
  width: 41.6667%;
}

.pure-u-11-24 {
  width: 45.8333%;
}

.pure-u-1-2,
.pure-u-12-24 {
  width: 50%;
}

.pure-u-13-24 {
  width: 54.1667%;
}

.pure-u-14-24,
.pure-u-7-12 {
  width: 58.3333%;
}

.pure-u-3-5 {
  width: 60%;
}

.pure-u-15-24,
.pure-u-5-8 {
  width: 62.5%;
}

.pure-u-16-24,
.pure-u-2-3 {
  width: 66.6667%;
}

.pure-u-17-24 {
  width: 70.8333%;
}

.pure-u-18-24,
.pure-u-3-4 {
  width: 75%;
}

.pure-u-19-24 {
  width: 79.1667%;
}

.pure-u-4-5 {
  width: 80%;
}

.pure-u-20-24,
.pure-u-5-6 {
  width: 83.3333%;
}

.pure-u-21-24,
.pure-u-7-8 {
  width: 87.5%;
}

.pure-u-11-12,
.pure-u-22-24 {
  width: 91.6667%;
}

.pure-u-23-24 {
  width: 95.8333%;
}

.pure-u-1,
.pure-u-1-1,
.pure-u-24-24,
.pure-u-5-5 {
  width: 100%;
}

@media screen and (min-width: 35.5em) {
  .pure-u-sm-1,
  .pure-u-sm-1-1,
  .pure-u-sm-1-12,
  .pure-u-sm-1-2,
  .pure-u-sm-1-24,
  .pure-u-sm-1-3,
  .pure-u-sm-1-4,
  .pure-u-sm-1-5,
  .pure-u-sm-1-6,
  .pure-u-sm-1-8,
  .pure-u-sm-10-24,
  .pure-u-sm-11-12,
  .pure-u-sm-11-24,
  .pure-u-sm-12-24,
  .pure-u-sm-13-24,
  .pure-u-sm-14-24,
  .pure-u-sm-15-24,
  .pure-u-sm-16-24,
  .pure-u-sm-17-24,
  .pure-u-sm-18-24,
  .pure-u-sm-19-24,
  .pure-u-sm-2-24,
  .pure-u-sm-2-3,
  .pure-u-sm-2-5,
  .pure-u-sm-20-24,
  .pure-u-sm-21-24,
  .pure-u-sm-22-24,
  .pure-u-sm-23-24,
  .pure-u-sm-24-24,
  .pure-u-sm-3-24,
  .pure-u-sm-3-4,
  .pure-u-sm-3-5,
  .pure-u-sm-3-8,
  .pure-u-sm-4-24,
  .pure-u-sm-4-5,
  .pure-u-sm-5-12,
  .pure-u-sm-5-24,
  .pure-u-sm-5-5,
  .pure-u-sm-5-6,
  .pure-u-sm-5-8,
  .pure-u-sm-6-24,
  .pure-u-sm-7-12,
  .pure-u-sm-7-24,
  .pure-u-sm-7-8,
  .pure-u-sm-8-24,
  .pure-u-sm-9-24 {
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }
  .pure-u-sm-1-24 {
    width: 4.1667%;
  }
  .pure-u-sm-1-12,
  .pure-u-sm-2-24 {
    width: 8.3333%;
  }
  .pure-u-sm-1-8,
  .pure-u-sm-3-24 {
    width: 12.5%;
  }
  .pure-u-sm-1-6,
  .pure-u-sm-4-24 {
    width: 16.6667%;
  }
  .pure-u-sm-1-5 {
    width: 20%;
  }
  .pure-u-sm-5-24 {
    width: 20.8333%;
  }
  .pure-u-sm-1-4,
  .pure-u-sm-6-24 {
    width: 25%;
  }
  .pure-u-sm-7-24 {
    width: 29.1667%;
  }
  .pure-u-sm-1-3,
  .pure-u-sm-8-24 {
    width: 33.3333%;
  }
  .pure-u-sm-3-8,
  .pure-u-sm-9-24 {
    width: 37.5%;
  }
  .pure-u-sm-2-5 {
    width: 40%;
  }
  .pure-u-sm-10-24,
  .pure-u-sm-5-12 {
    width: 41.6667%;
  }
  .pure-u-sm-11-24 {
    width: 45.8333%;
  }
  .pure-u-sm-1-2,
  .pure-u-sm-12-24 {
    width: 50%;
  }
  .pure-u-sm-13-24 {
    width: 54.1667%;
  }
  .pure-u-sm-14-24,
  .pure-u-sm-7-12 {
    width: 58.3333%;
  }
  .pure-u-sm-3-5 {
    width: 60%;
  }
  .pure-u-sm-15-24,
  .pure-u-sm-5-8 {
    width: 62.5%;
  }
  .pure-u-sm-16-24,
  .pure-u-sm-2-3 {
    width: 66.6667%;
  }
  .pure-u-sm-17-24 {
    width: 70.8333%;
  }
  .pure-u-sm-18-24,
  .pure-u-sm-3-4 {
    width: 75%;
  }
  .pure-u-sm-19-24 {
    width: 79.1667%;
  }
  .pure-u-sm-4-5 {
    width: 80%;
  }
  .pure-u-sm-20-24,
  .pure-u-sm-5-6 {
    width: 83.3333%;
  }
  .pure-u-sm-21-24,
  .pure-u-sm-7-8 {
    width: 87.5%;
  }
  .pure-u-sm-11-12,
  .pure-u-sm-22-24 {
    width: 91.6667%;
  }
  .pure-u-sm-23-24 {
    width: 95.8333%;
  }
  .pure-u-sm-1,
  .pure-u-sm-1-1,
  .pure-u-sm-24-24,
  .pure-u-sm-5-5 {
    width: 100%;
  }
}

@media screen and (min-width: 48em) {
  .pure-u-md-1,
  .pure-u-md-1-1,
  .pure-u-md-1-12,
  .pure-u-md-1-2,
  .pure-u-md-1-24,
  .pure-u-md-1-3,
  .pure-u-md-1-4,
  .pure-u-md-1-5,
  .pure-u-md-1-6,
  .pure-u-md-1-8,
  .pure-u-md-10-24,
  .pure-u-md-11-12,
  .pure-u-md-11-24,
  .pure-u-md-12-24,
  .pure-u-md-13-24,
  .pure-u-md-14-24,
  .pure-u-md-15-24,
  .pure-u-md-16-24,
  .pure-u-md-17-24,
  .pure-u-md-18-24,
  .pure-u-md-19-24,
  .pure-u-md-2-24,
  .pure-u-md-2-3,
  .pure-u-md-2-5,
  .pure-u-md-20-24,
  .pure-u-md-21-24,
  .pure-u-md-22-24,
  .pure-u-md-23-24,
  .pure-u-md-24-24,
  .pure-u-md-3-24,
  .pure-u-md-3-4,
  .pure-u-md-3-5,
  .pure-u-md-3-8,
  .pure-u-md-4-24,
  .pure-u-md-4-5,
  .pure-u-md-5-12,
  .pure-u-md-5-24,
  .pure-u-md-5-5,
  .pure-u-md-5-6,
  .pure-u-md-5-8,
  .pure-u-md-6-24,
  .pure-u-md-7-12,
  .pure-u-md-7-24,
  .pure-u-md-7-8,
  .pure-u-md-8-24,
  .pure-u-md-9-24 {
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }
  .pure-u-md-1-24 {
    width: 4.1667%;
  }
  .pure-u-md-1-12,
  .pure-u-md-2-24 {
    width: 8.3333%;
  }
  .pure-u-md-1-8,
  .pure-u-md-3-24 {
    width: 12.5%;
  }
  .pure-u-md-1-7 {
    width: 14.2857%;
  }
  .pure-u-md-1-6,
  .pure-u-md-4-24 {
    width: 16.6667%;
  }
  .pure-u-md-1-5 {
    width: 20%;
  }
  .pure-u-md-5-24 {
    width: 20.8333%;
  }
  .pure-u-md-1-4,
  .pure-u-md-6-24 {
    width: 25%;
  }
  .pure-u-md-7-24 {
    width: 29.1667%;
  }
  .pure-u-md-1-3,
  .pure-u-md-8-24 {
    width: 33.3333%;
  }
  .pure-u-md-3-8,
  .pure-u-md-9-24 {
    width: 37.5%;
  }
  .pure-u-md-2-5 {
    width: 40%;
  }
  .pure-u-md-10-24,
  .pure-u-md-5-12 {
    width: 41.6667%;
  }
  .pure-u-md-11-24 {
    width: 45.8333%;
  }
  .pure-u-md-1-2,
  .pure-u-md-12-24 {
    width: 50%;
  }
  .pure-u-md-13-24 {
    width: 54.1667%;
  }
  .pure-u-md-14-24,
  .pure-u-md-7-12 {
    width: 58.3333%;
  }
  .pure-u-md-3-5 {
    width: 60%;
  }
  .pure-u-md-15-24,
  .pure-u-md-5-8 {
    width: 62.5%;
  }
  .pure-u-md-16-24,
  .pure-u-md-2-3 {
    width: 66.6667%;
  }
  .pure-u-md-17-24 {
    width: 70.8333%;
  }
  .pure-u-md-18-24,
  .pure-u-md-3-4 {
    width: 75%;
  }
  .pure-u-md-19-24 {
    width: 79.1667%;
  }
  .pure-u-md-4-5 {
    width: 80%;
  }
  .pure-u-md-20-24,
  .pure-u-md-5-6 {
    width: 83.3333%;
  }
  .pure-u-md-21-24,
  .pure-u-md-7-8 {
    width: 87.5%;
  }
  .pure-u-md-11-12,
  .pure-u-md-22-24 {
    width: 91.6667%;
  }
  .pure-u-md-23-24 {
    width: 95.8333%;
  }
  .pure-u-md-1,
  .pure-u-md-1-1,
  .pure-u-md-24-24,
  .pure-u-md-5-5 {
    width: 100%;
  }
}

@media screen and (min-width: 64em) {
  .pure-u-lg-1,
  .pure-u-lg-1-1,
  .pure-u-lg-1-12,
  .pure-u-lg-1-2,
  .pure-u-lg-1-24,
  .pure-u-lg-1-3,
  .pure-u-lg-1-4,
  .pure-u-lg-1-5,
  .pure-u-lg-1-6,
  .pure-u-lg-1-8,
  .pure-u-lg-10-24,
  .pure-u-lg-11-12,
  .pure-u-lg-11-24,
  .pure-u-lg-12-24,
  .pure-u-lg-13-24,
  .pure-u-lg-14-24,
  .pure-u-lg-15-24,
  .pure-u-lg-16-24,
  .pure-u-lg-17-24,
  .pure-u-lg-18-24,
  .pure-u-lg-19-24,
  .pure-u-lg-2-24,
  .pure-u-lg-2-3,
  .pure-u-lg-2-5,
  .pure-u-lg-20-24,
  .pure-u-lg-21-24,
  .pure-u-lg-22-24,
  .pure-u-lg-23-24,
  .pure-u-lg-24-24,
  .pure-u-lg-3-24,
  .pure-u-lg-3-4,
  .pure-u-lg-3-5,
  .pure-u-lg-3-8,
  .pure-u-lg-4-24,
  .pure-u-lg-4-5,
  .pure-u-lg-5-12,
  .pure-u-lg-5-24,
  .pure-u-lg-5-5,
  .pure-u-lg-5-6,
  .pure-u-lg-5-8,
  .pure-u-lg-6-24,
  .pure-u-lg-7-12,
  .pure-u-lg-7-24,
  .pure-u-lg-7-8,
  .pure-u-lg-8-24,
  .pure-u-lg-9-24 {
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }
  .pure-u-lg-1-24 {
    width: 4.1667%;
  }
  .pure-u-lg-1-12,
  .pure-u-lg-2-24 {
    width: 8.3333%;
  }
  .pure-u-lg-1-8,
  .pure-u-lg-3-24 {
    width: 12.5%;
  }
  .pure-u-lg-1-6,
  .pure-u-lg-4-24 {
    width: 16.6667%;
  }
  .pure-u-lg-1-5 {
    width: 20%;
  }
  .pure-u-lg-5-24 {
    width: 20.8333%;
  }
  .pure-u-lg-1-4,
  .pure-u-lg-6-24 {
    width: 25%;
  }
  .pure-u-lg-7-24 {
    width: 29.1667%;
  }
  .pure-u-lg-1-3,
  .pure-u-lg-8-24 {
    width: 33.3333%;
  }
  .pure-u-lg-3-8,
  .pure-u-lg-9-24 {
    width: 37.5%;
  }
  .pure-u-lg-2-5 {
    width: 40%;
  }
  .pure-u-lg-10-24,
  .pure-u-lg-5-12 {
    width: 41.6667%;
  }
  .pure-u-lg-11-24 {
    width: 45.8333%;
  }
  .pure-u-lg-1-2,
  .pure-u-lg-12-24 {
    width: 50%;
  }
  .pure-u-lg-13-24 {
    width: 54.1667%;
  }
  .pure-u-lg-14-24,
  .pure-u-lg-7-12 {
    width: 58.3333%;
  }
  .pure-u-lg-3-5 {
    width: 60%;
  }
  .pure-u-lg-15-24,
  .pure-u-lg-5-8 {
    width: 62.5%;
  }
  .pure-u-lg-16-24,
  .pure-u-lg-2-3 {
    width: 66.6667%;
  }
  .pure-u-lg-17-24 {
    width: 70.8333%;
  }
  .pure-u-lg-18-24,
  .pure-u-lg-3-4 {
    width: 75%;
  }
  .pure-u-lg-19-24 {
    width: 79.1667%;
  }
  .pure-u-lg-4-5 {
    width: 80%;
  }
  .pure-u-lg-20-24,
  .pure-u-lg-5-6 {
    width: 83.3333%;
  }
  .pure-u-lg-21-24,
  .pure-u-lg-7-8 {
    width: 87.5%;
  }
  .pure-u-lg-11-12,
  .pure-u-lg-22-24 {
    width: 91.6667%;
  }
  .pure-u-lg-23-24 {
    width: 95.8333%;
  }
  .pure-u-lg-1,
  .pure-u-lg-1-1,
  .pure-u-lg-24-24,
  .pure-u-lg-5-5 {
    width: 100%;
  }
}

@media screen and (min-width: 80em) {
  .pure-u-xl-1,
  .pure-u-xl-1-1,
  .pure-u-xl-1-12,
  .pure-u-xl-1-2,
  .pure-u-xl-1-24,
  .pure-u-xl-1-3,
  .pure-u-xl-1-4,
  .pure-u-xl-1-5,
  .pure-u-xl-1-6,
  .pure-u-xl-1-8,
  .pure-u-xl-10-24,
  .pure-u-xl-11-12,
  .pure-u-xl-11-24,
  .pure-u-xl-12-24,
  .pure-u-xl-13-24,
  .pure-u-xl-14-24,
  .pure-u-xl-15-24,
  .pure-u-xl-16-24,
  .pure-u-xl-17-24,
  .pure-u-xl-18-24,
  .pure-u-xl-19-24,
  .pure-u-xl-2-24,
  .pure-u-xl-2-3,
  .pure-u-xl-2-5,
  .pure-u-xl-20-24,
  .pure-u-xl-21-24,
  .pure-u-xl-22-24,
  .pure-u-xl-23-24,
  .pure-u-xl-24-24,
  .pure-u-xl-3-24,
  .pure-u-xl-3-4,
  .pure-u-xl-3-5,
  .pure-u-xl-3-8,
  .pure-u-xl-4-24,
  .pure-u-xl-4-5,
  .pure-u-xl-5-12,
  .pure-u-xl-5-24,
  .pure-u-xl-5-5,
  .pure-u-xl-5-6,
  .pure-u-xl-5-8,
  .pure-u-xl-6-24,
  .pure-u-xl-7-12,
  .pure-u-xl-7-24,
  .pure-u-xl-7-8,
  .pure-u-xl-8-24,
  .pure-u-xl-9-24 {
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }
  .pure-u-xl-1-24 {
    width: 4.1667%;
  }
  .pure-u-xl-1-12,
  .pure-u-xl-2-24 {
    width: 8.3333%;
  }
  .pure-u-xl-1-8,
  .pure-u-xl-3-24 {
    width: 12.5%;
  }
  .pure-u-xl-1-6,
  .pure-u-xl-4-24 {
    width: 16.6667%;
  }
  .pure-u-xl-1-5 {
    width: 20%;
  }
  .pure-u-xl-5-24 {
    width: 20.8333%;
  }
  .pure-u-xl-1-4,
  .pure-u-xl-6-24 {
    width: 25%;
  }
  .pure-u-xl-7-24 {
    width: 29.1667%;
  }
  .pure-u-xl-1-3,
  .pure-u-xl-8-24 {
    width: 33.3333%;
  }
  .pure-u-xl-3-8,
  .pure-u-xl-9-24 {
    width: 37.5%;
  }
  .pure-u-xl-2-5 {
    width: 40%;
  }
  .pure-u-xl-10-24,
  .pure-u-xl-5-12 {
    width: 41.6667%;
  }
  .pure-u-xl-11-24 {
    width: 45.8333%;
  }
  .pure-u-xl-1-2,
  .pure-u-xl-12-24 {
    width: 50%;
  }
  .pure-u-xl-13-24 {
    width: 54.1667%;
  }
  .pure-u-xl-14-24,
  .pure-u-xl-7-12 {
    width: 58.3333%;
  }
  .pure-u-xl-3-5 {
    width: 60%;
  }
  .pure-u-xl-15-24,
  .pure-u-xl-5-8 {
    width: 62.5%;
  }
  .pure-u-xl-16-24,
  .pure-u-xl-2-3 {
    width: 66.6667%;
  }
  .pure-u-xl-17-24 {
    width: 70.8333%;
  }
  .pure-u-xl-18-24,
  .pure-u-xl-3-4 {
    width: 75%;
  }
  .pure-u-xl-19-24 {
    width: 79.1667%;
  }
  .pure-u-xl-4-5 {
    width: 80%;
  }
  .pure-u-xl-20-24,
  .pure-u-xl-5-6 {
    width: 83.3333%;
  }
  .pure-u-xl-21-24,
  .pure-u-xl-7-8 {
    width: 87.5%;
  }
  .pure-u-xl-11-12,
  .pure-u-xl-22-24 {
    width: 91.6667%;
  }
  .pure-u-xl-23-24 {
    width: 95.8333%;
  }
  .pure-u-xl-1,
  .pure-u-xl-1-1,
  .pure-u-xl-24-24,
  .pure-u-xl-5-5 {
    width: 100%;
  }
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  outline: 0;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
  height: 100%;
  width: auto;
  max-width: none;
  margin: 0 auto;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 10px;
  width: 10px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 10px;
  width: 10px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 10px;
  height: 10px;
  font-family: "slick";
  font-size: 6px;
  line-height: 10px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

#js-gallery {
  margin-bottom: 0px;
}

#js-gallery .slick-dots {
  top: auto;
  bottom: -30px;
  width: 100%;
  /* left: 40%; */
  margin: 0 auto;
}

#js-gallery .slick-dots li {
  margin: 0px 5px;
}

#js-gallery .slick-dots li button {
  width: 2px;
  height: 2px;
  background: #e6e9e0;
  border-radius: 20px;
  padding: 2px;
}

#js-gallery .slick-dots li.slick-active button {
  width: 6px;
  height: 6px;
  background: #231f20;
  border: 1px solid #e6e9e0;
  border-radius: 50%;
  padding: 2px;
}

#js-gallery .slick-dots li button:before {
  content: '';
}

#js-gallery .slick-arrow {
  padding: 0;
  background: transparent;
  border: none;
  color: #e6e9e0;
  position: absolute;
  z-index: 1;
  top: 0;
  height: 100%;
  cursor: pointer;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

#js-gallery .slick-arrow .icon-right, #js-gallery .slick-arrow .icon-left {
  padding: 10px;
  font-size: 3em;
  border-radius: 50%;
}

#js-gallery .slick-arrow .icon-angle-left {
  padding: 0px 10px 0 5px;
}

#js-gallery .slick-prev {
  left: -5rem;
}

#js-gallery .slick-next {
  right: -5rem;
}

#js-gallery .slick-slide img {
  max-width: 100%;
  height: auto;
}

.slider-for .slick-arrow {
  padding: 0;
  background: transparent;
  border: none;
  color: #e6e9e0;
  position: absolute;
  z-index: 1;
  top: 0;
  height: 400px;
  cursor: pointer;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.slider-for .slick-arrow .icon-right, .slider-for .slick-arrow .icon-left {
  padding: 10px;
  font-size: 1em;
  border-radius: 50%;
  border: 1px solid #e6e9e0;
}

.slider-for .slick-arrow .icon-angle-left {
  padding: 0px 10px 0 5px;
}

.slider-for .slick-prev {
  left: 0rem;
}

@media (min-width: 768px) {
  .slider-for .slick-prev {
    left: -5rem;
  }
}

.slider-for .slick-next {
  right: 0rem;
}

@media (min-width: 768px) {
  .slider-for .slick-next {
    right: -5rem;
  }
}

/* ------------------------------------------
   RESPONSIVE NAV STYLES
 --------------------------------------------- */
.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (min-width: 768px) {
  .js .nav-collapse {
    position: relative;
    margin-top: 5px;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}

/* ------------------------------------------
   FIXED HEADER
 --------------------------------------------- */
.header {
  background: #e6e9e0;
  position: fixed;
  z-index: 10;
  width: 100%;
  left: 0;
  top: 0;
  margin: 0;
  -webkit-transition: background .1s ease-in-out;
  transition: background .1s ease-in-out;
}

@media (min-width: 768px) {
  .header {
    padding: 10px 0 20px;
  }
}

.header--ads {
  background: #ffcc10;
}

.header__logo {
  position: relative;
  padding: 0;
  float: left;
  width: 60px;
}

.header__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: url("../images/pijaru-text.png") no-repeat;
  background-size: contain;
  background-position: center;
}

@media (min-width: 768px) {
  .header__img {
    height: 42px;
  }
}

/* ------------------------------------------
   MASK
 --------------------------------------------- */
.mask {
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
  background: rgba(0, 0, 0, 0.2);
  visibility: hidden;
  position: fixed;
  opacity: 0;
  z-index: 2;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.android .mask {
  -webkit-transition: none;
  transition: none;
}

.js-nav-active .mask {
  visibility: visible;
  opacity: 1;
}

.js-nav-active .header {
  height: 100vh;
  background: #e6e9e0;
}

.js-nav-active .invert {
  background: #231f20;
}

@media screen and (min-width: 768px) {
  .mask {
    display: none !important;
    opacity: 0 !important;
  }
}

/* ------------------------------------------
   NAVIGATION STYLES
 --------------------------------------------- */
.fixed {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

.nav-collapse,
.nav-collapse * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-collapse,
.nav-collapse ul {
  list-style: none;
  width: 100%;
  float: left;
}

@media screen and (min-width: 768px) {
  .nav-collapse {
    float: right;
    width: auto;
  }
}

.nav-collapse li {
  float: left;
  width: 100%;
  margin: 0 15px;
  position: relative;
}

.nav-collapse li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  z-index: 1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #ed503e;
  -webkit-transform: scale(0);
          transform: scale(0);
}

@media (min-width: 768px) {
  .nav-collapse li:hover a::after {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .nav-collapse li:hover a {
    text-shadow: 0px 0px #231f20, 0px 0px #231f20, 0px 0px #231f20;
  }
}

@media screen and (min-width: 768px) {
  .nav-collapse li {
    width: auto;
  }
}

@media (min-width: 768px) {
  .nav-collapse a:active,
  .nav-collapse .active a {
    text-shadow: 0px 0px #231f20, 0px 0px #231f20, 0px 0px #231f20;
  }
}

.nav-collapse a:active::after,
.nav-collapse .active a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  z-index: 1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #ed503e;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

@media (max-width: 768px) {
  .nav-collapse a:active::after,
  .nav-collapse .active a::after {
    width: 100%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.nav-collapse a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-decoration: none;
  padding: 0.7em 1em 0.7em 0;
  font-family: "d-din bold", sans-serif;
  color: #231f20;
  display: inline-block;
  width: auto;
  float: left;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-size: 22px;
}

@media (min-width: 768px) {
  .nav-collapse a {
    font-family: "d-din", sans-serif;
    display: block;
    padding: .52em 0em;
    width: 100%;
    text-align: center;
    border-top: 0;
    float: left;
    margin: 0;
    font-size: 14px;
  }
}

.nav-collapse a::last-child {
  padding-right: 0;
}

.nav-collapse ul ul a {
  background: #ca3716;
  padding-left: 2em;
}

@media screen and (min-width: 768px) {
  .nav-collapse ul ul a {
    display: none;
  }
}

/* ------------------------------------------
   NAV TOGGLE STYLES
 --------------------------------------------- */
.nav-toggle {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  text-indent: -300px;
  position: relative;
  overflow: hidden;
  width: 60px;
  height: 55px;
  float: right;
  margin: 5px 0;
}

.nav-toggle:before {
  color: #000;
  /* Edit this to change the icon color */
  font-size: 40px;
  /* Edit font-size (28px) to change the icon size */
  text-transform: none;
  text-align: right;
  position: absolute;
  content: "\e901";
  /* Hamburger icon */
  text-indent: 0;
  speak: none;
  width: 100%;
  left: 0;
  top: 0;
}

.nav-toggle.active:before {
  font-size: 40px;
  content: "\e90c";
  /* Close icon */
}

.invert {
  background: #231f20;
}

.invert .header__img {
  background: url("../images/pijaru-text-invert.png") no-repeat;
  background-size: contain;
  background-position: center;
}

@media (min-width: 768px) {
  .invert .nav-collapse li:hover a {
    text-shadow: 0px 0px #e6e9e0, 0px 0px #e6e9e0, 0px 0px #e6e9e0;
  }
}

.invert .nav-collapse a {
  color: #e6e9e0;
}

@media (min-width: 768px) {
  .invert .nav-collapse .active a {
    text-shadow: 0px 0px #e6e9e0, 0px 0px #e6e9e0, 0px 0px #e6e9e0;
  }
}

.invert .nav-toggle:before {
  color: #e6e9e0;
}

.content {
  background: #231f20;
}

.content__wrapper {
  position: relative;
}

.cover {
  height: 100vh;
  background-color: #e6e9e0;
}

.cover--fixed {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.cover--invert {
  background-color: #231f20;
}

.cover--invert .title__stripe {
  color: white;
}

.cover--contact {
  height: auto;
}

@media (min-width: 768px) {
  .cover--contact {
    height: 100vh;
  }
}

.cover__intro {
  position: relative;
  margin: 10px 0;
}

@media (min-width: 768px) {
  .cover__intro {
    margin: 65px 0;
  }
}

.cover__wrapper {
  position: relative;
  width: 100%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .cover__wrapper {
    width: 385px;
  }
}

.cover__item {
  position: absolute;
}

.cover__item--top {
  display: block;
  background: url("../images/Animated-Logo-Pijaru.gif") no-repeat;
  background-color: #e6e9e0;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 250px;
}

@media (min-width: 768px) {
  .cover__item--top {
    width: 385px;
  }
}

.cover__down {
  position: absolute;
  text-align: center;
  top: calc(100vh - 100px);
  left: calc(50% - 43px/2);
  z-index: 4;
  cursor: pointer;
}

@media (max-width: 320px) {
  .cover__down {
    top: calc(100vh - 80px);
  }
}

.cover__icon {
  border: 1px solid #231f20;
  border-radius: 50%;
  padding: 7px;
}

.cover__icon--white {
  border: 2px solid #e6e9e0;
  color: #e6e9e0;
}

.cover__caption {
  font-family: "d-din bold", sans-serif;
  font-size: 16px;
  color: #ed503e;
  margin-bottom: 30px;
  line-height: 1.2;
  padding: 0 20px;
}

@media (min-width: 768px) {
  .cover__caption {
    font-size: 25px;
  }
}

.cover__desc {
  font-family: "d-din", sans-serif;
  font-size: 16px;
  color: #231f20;
  line-height: 1.2;
}

@media (min-width: 768px) {
  .cover__desc {
    font-size: 18px;
  }
}

.cover.no-height {
  min-height: 100vh;
  height: auto;
}

.cover__inl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

@media (min-width: 768px) {
  .cover__inl {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@media (min-width: 320px) {
  .cover__inline--right {
    -webkit-transform: translateY(-1.15em);
            transform: translateY(-1.15em);
  }
}

@media (min-width: 768px) {
  .cover__inline--right {
    -webkit-transform: translateY(-1.65em);
            transform: translateY(-1.65em);
  }
}

@media (max-width: 320px) {
  .cover__inline--right {
    -webkit-transform: translateY(-0.85em);
            transform: translateY(-0.85em);
  }
}

.cover__video {
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
}

.team {
  background: #231f20;
  padding-top: 6rem;
  color: #e6e9e0;
}

@media (min-width: 768px) {
  .team {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.team__wrapper {
  position: relative;
  margin: 65px 0;
}

.team__title {
  margin-bottom: 40px;
}

.team__title p {
  font-family: "d-din bold", sans-serif;
  font-size: 18px;
  margin: 0;
}

.team__item {
  padding: 0 5px;
  margin-bottom: 10px;
  position: relative;
}

.team__item:last-child {
  height: 138px;
}

.team__item img {
  width: 100%;
}

@media (min-width: 769px) {
  .team__item img {
    width: auto;
  }
  .team__item:last-child {
    height: auto;
    min-height: 210px;
  }
  .team__item:hover .team__overlay {
    opacity: 1;
  }
}

.team__link {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.team__link:hover .team__button--overlay {
  opacity: 1;
}

.team__button {
  width: 75%;
  height: 75%;
  border: 2px solid #e6e9e0;
  background: #231f20;
  color: #e6e9e0;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px auto;
  padding: 0 5px;
  text-align: center;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

@media (min-width: 321px) and (max-width: 768px) {
  .team__button {
    width: 80%;
    height: 95%;
  }
}

.team__button--overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin: 26px;
  background: #e6e9e0;
  color: #231f20;
  opacity: 0;
}

.team__jobs {
  font-size: 16px;
  font-family: "d-din bold", sans-serif;
}

.team__jobs--big {
  font-size: 20px;
}

.team__overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  background: rgba(35, 31, 32, 0.5);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  text-align: center;
  padding: 0 10px;
}

@media (min-width: 1100px) {
  .team__overlay {
    opacity: 0;
  }
}

.team__name {
  font-family: "d-din bold", sans-serif;
  padding: 10px 0;
  position: relative;
  margin: 0;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .team__name {
    font-size: 12px;
  }
}

.team__name::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 40px;
  height: 2px;
  background: #e6e9e0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.team__position {
  margin: 0;
}

@media (max-width: 768px) {
  .team__position {
    font-size: 11px;
  }
}

.jobs__title {
  font-size: 18px;
}

.jobs__desc {
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  margin-top: 50px;
}

.jobs__list {
  margin: 0 -20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jobs__list--intern .jobs__button {
  color: #e6e9e0;
  border: 2px solid #ed503e;
}

.jobs__list--intern .jobs__button::after {
  background: #ed503e;
}

.jobs__list--intern .jobs__button:hover {
  color: #ed503e;
}

.jobs__item {
  padding: 0 20px;
  margin: 20px 0;
}

.jobs__button {
  color: #e6e9e0;
  border: 2px solid #231f20;
  position: relative;
  z-index: 1;
  -webkit-transition-delay: 0.3s !important;
          transition-delay: 0.3s !important;
  overflow: hidden;
  text-align: center;
  padding: 20px 10px;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.jobs__button::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  bottom: 0;
  background: #231f20;
  width: calc(100% + 10px);
  height: 300%;
  left: -10px;
  -webkit-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
}

.jobs__button:hover {
  color: #231f20;
}

.jobs__button:hover::after {
  content: "";
  height: 0;
}

.jobs__text {
  width: 80%;
  margin: 5px auto;
  text-transform: uppercase;
}

.jobs__name {
  font-family: "d-din bold", sans-serif;
  font-size: 16px;
}

.jobs__category {
  font-family: "d-din bold", sans-serif;
  font-size: 16px;
}

.faq__list {
  color: #e6e9e0;
  padding-left: 1em;
  margin-top: 50px;
}

.faq__question {
  cursor: pointer;
  font-size: 18px;
  font-family: "d-din bold", sans-serif;
  line-height: 2em;
  position: relative;
  color: #ed503e;
}

.faq__question::after {
  content: '\002B';
  position: absolute;
  color: #e6e9e0;
  top: 0;
  left: -16px;
  font-size: 20px;
  color: #ed503e;
}

.faq__question.active::after {
  content: '\2212';
  color: #ed503e;
}

.faq__answer {
  margin-left: 0;
  padding: 1em 0;
  line-height: 1.5;
  display: none;
}

.contact {
  color: white;
}

.contact__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .contact__content {
    margin: 130px 0 50px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.contact__item {
  padding: 0px 20px;
  border-right: none;
}

@media (min-width: 768px) {
  .contact__item {
    padding: 20px;
  }
}

.contact__item:nth-child(2) {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  border: none;
}

@media (min-width: 768px) {
  .contact__item {
    border-bottom: none;
    border-right: 2px solid #ed503e;
    padding: 25px;
  }
  .contact__item:nth-child(3) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .contact__item:nth-child(2) {
    border-right: 2px solid #ed503e;
  }
  .contact__item:last-child {
    border: none;
  }
}

.contact__icon {
  width: 10px;
  height: 15px;
}

.contact__button {
  display: inline-block;
  border: 1px solid;
  border-radius: 40px;
  padding: 7px 15px;
  margin: 25px 0;
  cursor: pointer;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.contact__button.active {
  background: #e6e9e0;
  color: #231f20;
}

.contact__button.active svg path {
  fill: #231f20 !important;
}

.contact__title {
  margin-top: 20px;
  font-family: "d-din bold", sans-serif;
}

.contact__text {
  margin: 0;
}

.contact__text--underline {
  text-decoration: underline;
}

.contact__bottom {
  display: none;
}

.footer {
  background: #231f20;
}

.footer__wrapper {
  color: #e6e9e0;
  padding: 50px 0;
}

.footer__menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__menu__item {
  margin: 10px 17px;
}

@media (min-width: 768px) {
  .footer__menu__item {
    margin: 10px;
  }
}

.footer__logo {
  margin: 25px;
}

@media (min-width: 768px) {
  .footer__logo {
    margin: 0;
  }
}

.footer__icon {
  display: block;
  text-align: center;
  width: 70px;
  margin: 10px auto 20px;
}

.footer__icon--small {
  width: 30px;
}

.footer__icon img {
  max-width: 100%;
}

@media (min-width: 768px) {
  .footer__social {
    padding-right: 70px;
    padding-top: 10px;
  }
}

.preloader {
  background: #ed503e;
  height: 100%;
  width: 100%;
  z-index: 11;
  position: fixed;
}

.preloader__wrap img {
  width: 75px;
}

@media (min-width: 992px) {
  .preloader__wrap img {
    width: 150px;
  }
}

.preloader__wrap object {
  width: 150px;
}

/*----- Tabs -----*/
.pjtabs {
  display: none;
}

.pjtabs__nav {
  width: 100%;
  display: inline-block;
  margin: 85px auto;
}

@media (min-width: 768px) {
  .pjtabs__nav {
    margin: 100px auto;
  }
}

.pjtabs__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  margin: 20px 0;
}

@media (min-width: 768px) {
  .pjtabs__links {
    position: absolute;
    top: 10rem;
    left: 45%;
    -webkit-transform: translateX(-40%);
            transform: translateX(-40%);
    margin: 0;
    margin-bottom: 30px;
  }
}

@media (min-width: 1100px) {
  .pjtabs__links {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.pjtabs__links:after {
  display: block;
  clear: both;
  content: '';
}

.pjtabs__links li {
  float: left;
  list-style: none;
  width: 50%;
  text-align: center;
}

@media (min-width: 768px) {
  .pjtabs__links li {
    width: auto;
    text-align: left;
    margin: 0px 5px;
  }
}

.pjtabs__links li.active a {
  border: 2px solid #e6e9e0;
  border-radius: 40px;
}

.pjtabs__links a {
  padding: 3px 35px;
  display: inline-block;
  border-radius: 3px 3px 0px 0px;
  font-size: 14px;
  font-weight: 600;
  color: #e6e9e0;
  -webkit-transition: all linear 0.15s;
  transition: all linear 0.15s;
}

.pjtabs__links a:hover {
  text-decoration: none;
}

.pjtabs__content {
  padding: 15px 0;
  border-radius: 3px;
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
          box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
  color: white;
}

@media (min-width: 768px) {
  .pjtabs__content {
    margin-top: 8rem;
  }
}

@media (min-width: 1100px) {
  .pjtabs__content {
    margin-top: 5rem;
  }
}

.pjtabs.active {
  display: block;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .social__list {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.social__item {
  margin: 0 20px;
  font-size: 18px;
}

@media (min-width: 768px) {
  .social__item {
    margin: 0 25px 10px;
  }
}

.portofolio {
  display: block;
  width: 100%;
  position: relative;
}

.portofolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portofolio__item {
  position: relative;
  width: 100%;
  margin: 0 5px 10px;
  overflow: hidden;
  height: 160px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .portofolio__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 10px);
            flex: 0 0 calc(50% - 10px);
    height: auto;
  }
  .portofolio__item .portofolio__overlay {
    opacity: 1;
  }
}

@media (min-width: 1100px) {
  .portofolio__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 10px);
            flex: 0 0 calc(50% - 10px);
    height: 300px;
  }
  .portofolio__item .portofolio__overlay {
    opacity: 0;
  }
  .portofolio__item:hover .portofolio__overlay {
    opacity: 1;
  }
  .portofolio__item:hover picture img {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .portofolio__item:hover picture::after {
    background: rgba(35, 31, 32, 0.8);
  }
  .portofolio__item:hover .portofolio__title {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  .portofolio__item:hover .portofolio__category {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  .portofolio__item:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 10px);
            flex: 0 0 calc(100% - 10px);
    height: 300px;
  }
  .portofolio__item:nth-child(3n + 4) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 10px);
            flex: 0 0 calc(100% - 10px);
    height: 300px;
  }
}

.portofolio__item picture {
  width: 100%;
  position: relative;
}

.portofolio__item picture img {
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.portofolio__item picture::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 300px;
  top: 0;
  left: 0;
  background: rgba(35, 31, 32, 0.6);
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}

@media (min-width: 1100px) {
  .portofolio__item picture {
    width: auto;
  }
  .portofolio__item picture::after {
    background: rgba(35, 31, 32, 0);
  }
}

.portofolio__overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  text-align: center;
}

.portofolio__title {
  font-family: "d-din bold", sans-serif;
  font-size: 1em;
  margin: 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.portofolio__category {
  font-family: "d-din", sans-serif;
  font-size: 1em;
  margin: 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.portofolio__read {
  background: #231f20;
  padding-top: 3rem;
  color: #e6e9e0;
}

@media (min-width: 768px) {
  .portofolio__read {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.portofolio__read--ads {
  background: #ffcc10;
  color: #231f20;
}

.portofolio__read--ads .slick-arrow {
  color: #231f20 !important;
}

.portofolio__read--ads .slick-dots li button {
  background: #231f20 !important;
}

.portofolio__read--ads .slick-dots li.slick-active button {
  background: #ffcc10 !important;
  border: 1px solid #231f20 !important;
}

.portofolio__read--ads .bts__intro::after {
  background: #231f20;
}

.portofolio__read--ads .portofolio__big::after {
  background: #231f20;
}

.portofolio__container {
  text-align: center;
}

.portofolio__name {
  font-family: "d-din bold", sans-serif;
  font-size: 22px;
  position: relative;
  margin: 5px 0;
}

.portofolio__big {
  position: relative;
  padding: 10px 0;
}

.portofolio__cat {
  display: block;
  margin-bottom: 35px;
}

.portofolio__desc {
  line-height: 1.5;
}

@media (min-width: 768px) {
  .portofolio__desc {
    width: 65%;
    margin: 0 auto;
  }
}

.progtabs {
  display: none;
}

.progtabs__nav {
  width: 100%;
  display: inline-block;
  margin: 0px auto;
}

.progtabs__links {
  position: relative;
  display: none;
}

@media (min-width: 768px) {
  .progtabs__links {
    display: block;
    width: 100%;
  }
}

.progtabs__links:after {
  display: block;
  clear: both;
  content: '';
}

@media (min-width: 768px) {
  .progtabs__links .slick-track {
    left: 22.5%;
  }
}

@media (min-width: 1100px) {
  .progtabs__links .slick-track {
    left: 25%;
  }
}

.progtabs__links li {
  margin: 0px 15px;
  float: left;
  list-style: none;
  padding: 5px 25px;
  font-size: 14px;
  cursor: pointer;
}

.progtabs__links li.slick-current {
  border: 2px solid;
  border-radius: 40px;
  color: #231f20;
  background: #e6e9e0;
  font-family: "d-din bold", sans-serif;
}

.progtabs__links a {
  padding: 5px 25px;
  display: inline-block;
  border-radius: 3px 3px 0px 0px;
  font-size: 14px;
  font-weight: 600;
  color: #e6e9e0;
  -webkit-transition: all linear 0.15s;
  transition: all linear 0.15s;
}

.progtabs__links a:hover {
  text-decoration: none;
}

.progtabs__content {
  padding: 5px 0;
  border-radius: 3px;
  color: white;
}

@media (min-width: 768px) {
  .progtabs__content {
    margin-top: 0rem;
    padding: 15px 0;
  }
}

.progtabs.active {
  display: block;
}

.pjslider {
  position: relative;
}

.pjslider__box {
  text-align: center;
  margin: 0px 0 40px;
  padding: 0px 40px;
}

@media (min-width: 768px) {
  .pjslider__box {
    margin: 140px 0;
    padding: 0 20px;
  }
}

.pjslider__title {
  font-family: "d-din", sans-serif;
  font-size: 1.5rem;
  margin: 10px 0;
}

.pjslider__desc {
  font-family: "d-din", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0 15px;
}

.card__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% - 10px);
          flex: 0 0 calc(100% - 10px);
  height: 410px;
  margin: 0 5px 20px;
  position: relative;
  overflow: hidden;
}

@media (min-width: 768px) {
  .card__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 10px);
            flex: 0 0 calc(50% - 10px);
  }
}

.card__item:hover .card__overlay {
  opacity: 1;
}

.card__item:hover .card__img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.card__item:hover .card__img::after {
  background: rgba(35, 31, 32, 0.8);
}

.card__img {
  width: 100%;
  position: relative;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.card__img::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(35, 31, 32, 0.6);
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}

@media (min-width: 1100px) {
  .card__img {
    width: auto;
    position: relative;
  }
  .card__img::after {
    background: rgba(35, 31, 32, 0);
  }
}

.card__overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

@media (min-width: 1100px) {
  .card__overlay {
    opacity: 0;
  }
}

.clients__wrapper {
  margin-top: 30px;
}

.clients__list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients__item {
  text-align: center;
  margin-bottom: 40px;
  max-width: 155px;
  max-height: 50px;
}

.awards {
  display: block;
  position: relative;
}

.awards__content {
  position: relative;
  margin: 15px 0;
  overflow: hidden;
}

.awards__content:hover .awards__bg {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.awards__content img {
  width: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}

@media (min-width: 768px) {
  .awards__content img {
    width: 100%;
    padding: 0 10px;
  }
}

@media (min-width: 1100px) {
  .awards__content img {
    width: auto;
    padding: 0;
  }
}

.awards__title {
  position: relative;
  font-family: "d-din", sans-serif;
  font-size: 1rem;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 18px;
}

.awards__title::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 40px;
  height: 2px;
  background: #ed503e;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.awards__box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 140px 0 0 0;
}

.awards__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.awards__item {
  margin: 10px;
}

.credits {
  display: block;
  position: relative;
  margin-top: 40px;
}

.credits__button {
  display: inline-block;
  border-radius: 40px;
  padding: 7px 25px;
  margin-bottom: 15px;
  cursor: pointer;
}

.credits__button--black {
  background: #231f20;
  color: #e6e9e0;
}

.credits__button--white {
  background: #e6e9e0;
  color: #231f20;
}

.credits__list {
  margin: 10px 0 0;
}

.credits__wrapper {
  display: none;
}

.credits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
}

.credits__item p {
  margin: 0 5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 10px);
          flex: 0 0 calc(50% - 10px);
}

.credits__title {
  text-align: right;
}

.credits__name {
  text-align: left;
}

.gallery {
  position: relative;
  margin: 65px 0;
}

.gallery iframe {
  height: 10.2rem;
}

@media (min-width: 321px) {
  .gallery iframe {
    height: 12.2rem;
  }
}

@media (min-width: 768px) {
  .gallery iframe {
    height: 26rem;
  }
}

@media (min-width: 1100px) {
  .gallery iframe {
    height: 35.3rem;
  }
}

.bts__intro {
  font-family: "d-din bold", sans-serif;
  font-size: 16px;
  text-align: center;
  position: relative;
  padding: 10px 0;
  margin: 20px 0;
}

.bts__intro::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 40px;
  height: 2px;
  background: #e6e9e0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.bts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bts__item {
  margin: 5px;
}

@media (min-width: 768px) {
  .bts__item {
    height: 305px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(33.333% - 10px);
            flex: 0 0 calc(33.333% - 10px);
  }
  .bts__item:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 10px);
            flex: 0 0 calc(100% - 10px);
  }
  .bts__item:nth-child(2), .bts__item:nth-child(3) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 10px);
            flex: 0 0 calc(50% - 10px);
  }
  .bts__item:nth-child(4) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 10px);
            flex: 0 0 calc(100% - 10px);
  }
}

.programs {
  display: block;
  visibility: visible;
}

.programs__item {
  height: auto;
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.programs__item a {
  display: block;
}

.programs__item:hover .programs__overlay {
  opacity: 1;
}

.programs__item:hover .programs__img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.programs__item:hover .programs__img::after {
  background: rgba(35, 31, 32, 0.8);
}

.programs__img {
  width: 100%;
  position: relative;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.programs__img::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 300px;
  top: 0;
  left: 0;
  background: rgba(35, 31, 32, 0.6);
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}

@media (min-width: 1100px) {
  .programs__img {
    width: auto;
    position: relative;
  }
  .programs__img::after {
    background: rgba(35, 31, 32, 0);
  }
}

.programs__wrapper {
  position: relative;
  overflow: hidden;
  height: 151px;
  width: 100%;
  background-size: cover !important;
  background-position: center !important;
}

.programs__overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

@media (min-width: 1100px) {
  .programs__overlay {
    opacity: 0;
  }
}

.title__stripe {
  position: relative;
  padding: 10px 0;
  text-align: center;
}

.title__stripe::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 50px;
  height: 2px;
  background: #ed503e;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
/*# sourceMappingURL=style.css.map */