<!DOCTYPE html>
<html lang="en">
{{>head}}

<body>
    {{>preloader}}
    {{>header page="about"}}
    <div class="overflow clearfix">
        <div class="fullpage" id="fullpage">
            {{>cover-about}}
            <!-- Index Content -->
            <div class="section content" id="team">
                <div class="content__wrapper">
                    <div class="team">
                        <div class="container clearfix">
                            <div class="team__wrapper">
                                <div class="team__title title__stripe">
                                    <p class="team__intro">Our Teams</p>
                                </div>
                                <ul class="team__list pure-g">
                                    <li class="team__item pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-5">
                                        <img src="images/team/yudha-narayana.jpg" alt="yudha-narayana.jpg">
                                        <div class="team__overlay">
                                            <p class="team__name">Yudha Narayana</p>
                                            <p class="team__position">Executive Producer </br> Video Director</p>
                                        </div>
                                    </li>
                                    <li class="team__item pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-5">
                                        <img src="images/team/getar-jagatraya.jpg" alt="getar-jagatraya.jpg">
                                        <div class="team__overlay">
                                            <p class="team__name">Getar Jagatraya</p>
                                            <p class="team__position">Creative Writer</p>
                                        </div>
                                    </li>
                                    <li class="team__item pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-5">
                                        <img src="images/team/reshan-janotama.jpg" alt="reshan-janotama.jpg">
                                        <div class="team__overlay">
                                            <p class="team__name">Reshan Janotama</p>
                                            <p class="team__position">Creative Writer</p>
                                        </div>
                                    </li>
                                    <li class="team__item pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-5">
                                        <img src="images/team/skolastika-lupitawina.jpg"
                                            alt="skolastika-lupitawina.jpg">
                                        <div class="team__overlay">
                                            <p class="team__name">Skolastika Lupitawina</p>
                                            <p class="team__position">Creative Writer</p>
                                        </div>
                                    </li>
                                    <li class="team__item pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-5">
                                        <img src="images/team/jody-surendra.jpg" alt="jody-surendra.jpg">
                                        <div class="team__overlay">
                                            <p class="team__name">Jody Surendra</p>
                                            <p class="team__position">Producer</p>
                                        </div>
                                    </li>
                                    <li class="team__item pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-5">
                                        <img src="images/team/bella-setiawati.jpg" alt="bella-setiawati.jpg">
                                        <div class="team__overlay">
                                            <p class="team__name">Bella Setiawati</p>
                                            <p class="team__position">Producer</p>
                                        </div>
                                    </li>
                                    <li class="team__item pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-5">
                                        <img src="images/team/sintia-lolita.jpg" alt="sintia-lolita.jpg">
                                        <div class="team__overlay">
                                            <p class="team__name">Sintia Lolita Jesika</p>
                                            <p class="team__position">Producer</p>
                                        </div>
                                    </li>
                                    <li class="team__item pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-5">
                                        <img src="images/team/ezra-faried.jpg" alt="ezra-faried.jpg">
                                        <div class="team__overlay">
                                            <p class="team__name">Ezra Faried</p>
                                            <p class="team__position">Producer</p>
                                        </div>
                                    </li>
                                    <li class="team__item pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-5">
                                        <img src="images/team/ivan-padak.jpg" alt="ivan-padak.jpg">
                                        <div class="team__overlay">
                                            <p class="team__name">Ignatius Ivan Padak D</p>
                                            <p class="team__position">Video Director</p>
                                        </div>
                                    </li>
                                    <li class="team__item pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-5">
                                        <img src="images/team/michelle-tjio.jpg" alt="michelle-tjio.jpg">
                                        <div class="team__overlay">
                                            <p class="team__name">Michelle Tjioe</p>
                                            <p class="team__position">Video Director</p>
                                        </div>
                                    </li>
                                    <li class="team__item pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-5">
                                        <img src="images/team/devina-gracia.jpg" alt="devina-gracia.jpg">
                                        <div class="team__overlay">
                                            <p class="team__name">Devina Gracia</p>
                                            <p class="team__position">Video Director</p>
                                        </div>
                                    </li>
                                    <li class="team__item pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-5">
                                        <img src="images/team/annas-m.jpg" alt="annas-m.jpg">
                                        <div class="team__overlay">
                                            <p class="team__name">Annas M Arraisy</p>
                                            <p class="team__position">Editor</p>
                                        </div>
                                    </li>
                                    <li class="team__item pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-5">
                                        <img src="images/team/akbar-riyadi.jpg" alt="akbar-riyadi.jpg">
                                        <div class="team__overlay">
                                            <p class="team__name">Akbar Riyadi Kusuma</p>
                                            <p class="team__position">Editor</p>
                                        </div>
                                    </li>
                                    <li class="team__item pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-5">
                                        <img src="images/team/jennifer-aryawinata.jpg" alt="jennifer-aryawinata.jpg">
                                        <div class="team__overlay">
                                            <p class="team__name">Jennifer Aryawinata</p>
                                            <p class="team__position">Editor</p>
                                        </div>
                                    </li>
                                    <li class="team__item pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-5">
                                        <img src="images/team/riyan-agung.jpg" alt="riyan-agung.jpg">
                                        <div class="team__overlay">
                                            <p class="team__name">Riyan Agung Nugroho</p>
                                            <p class="team__position">Editor</p>
                                        </div>
                                    </li>
                                    <li class="team__item pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-5">
                                        <img src="images/team/sherly-susanto.jpg" alt="sherly-susanto.jpg">
                                        <div class="team__overlay">
                                            <p class="team__name">Sherly Susanto</p>
                                            <p class="team__position">Editor</p>
                                        </div>
                                    </li>
                                    <li class="team__item pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-5">
                                        <img src="images/team/andre-sugianto.jpg" alt="andre-sugianto.jpg">
                                        <div class="team__overlay">
                                            <p class="team__name">Alfonsus Andre Sugianto</p>
                                            <p class="team__position">Motion Graphic Artist</p>
                                        </div>
                                    </li>
                                    <li class="team__item pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-5">
                                        <img src="images/team/dyah-revinda.jpg" alt="dyah-revinda.jpg">
                                        <div class="team__overlay">
                                            <p class="team__name">Rahajeng Dyah Revinda</p>
                                            <p class="team__position">Motion Graphic Artist</p>
                                        </div>
                                    </li>
                                    <li class="team__item pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-5">
                                        <img src="images/team/aletheia-hardiman.jpg" alt="aletheia-hardiman.jpg">
                                        <div class="team__overlay">
                                            <p class="team__name">Aletheia Hardiman</p>
                                            <p class="team__position">Motion Graphic Artist</p>
                                        </div>
                                    </li>
                                    <li class="team__item pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-5">
                                        <img src="images/team/rogasiana-anggoro.jpg" alt="rogasiana-anggoro.jpg">
                                        <div class="team__overlay">
                                            <p class="team__name">Rogasiana Anggoro Primayanti</p>
                                            <p class="team__position">Account Executive</p>
                                        </div>
                                    </li>
                                    <li class="team__item pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-5">
                                        <img src="images/team/syahyuda-perdana.jpg" alt="syahyuda-perdana.jpg">
                                        <div class="team__overlay">
                                            <p class="team__name">Syahyuda Perdana</p>
                                            <p class="team__position">Account Executive</p>
                                        </div>
                                    </li>
                                    <li class="team__item pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-5">
                                        <img src="images/team/septika-almira.jpg" alt="septika-almira.jpg">
                                        <div class="team__overlay">
                                            <p class="team__name">Septika Almira</p>
                                            <p class="team__position">Social Media Specialist Strategist</p>
                                        </div>
                                    </li>
                                    <li class="team__item pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-5">
                                        <img src="images/team/muthia-raidha.jpg" alt="muthia-raidha.jpg">
                                        <div class="team__overlay">
                                            <p class="team__name">Muthia Raidha</p>
                                            <p class="team__position">Admin Support</p>
                                        </div>
                                    </li>
                                    <li class="team__item pure-u-1-2 pure-u-sm-1-2 pure-u-md-1-5">
                                        <a href="contact-us.html#jobs-opportunities" class="team__link">
                                            <div class="team__button">
                                                <p class="team__jobs team__jobs--big">Join Us</p>
                                            </div>
                                            <div class="team__button team__button--overlay">
                                                <p class="team__jobs">See Current Jobs</p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Index Content -->
        </div>

    </div>
    {{>footer}}
    {{>script page="about"}}
</body>

</html>