<!DOCTYPE html>
<html lang="en">
{{>head}}

<body>
    {{>preloader}}
    {{>header page="invert"}}
    <div class="overflow clearfix">
        <div class="fullpage" id="fullpage">
            <div class="section" id="contact-us">
                <div class="cover cover--contact cover--fixed cover--invert no-height">
                    <div class="contact">
                        <div class="contact__top">
                            <div class="container clearfix">
                                <div class="contact__wrapper">
                                    <div class="contact__intro cover__intro">
                                        <h2 class="contact__title title__stripe">Contact Us</h2>
                                    </div>
                                    <div class="contact__content">
                                        <div class="contact__item">
                                            <p class="contact__title">Email</p>
                                            <a class="contact__text contact__text--underline"
                                                href="mailto:sales@pijaru.com">sales@pijaru.com</a>
                                        </div>
                                        <div class="contact__item">
                                            <p class="contact__title">Address</p>
                                            <p class="contact__text">
                                                Gedung Tribun News <br>
                                                Jl. Palmerah Selatan No. 14, RT. 1/ RW. 2 <br>
                                                Gelora, Tanah Abang, Jakarta 11420 <br>
                                                Indonesia
                                            </p>
                                            <div class="contact__button" id="js-contact"><span class="contact__icon">
                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="50px"
                                                        width="10" height="15" viewBox="0 0 9.5 14.2"
                                                        style="enable-background:new 0 0 9.5 14.2;"
                                                        xml:space="preserve">
                                                        <g>
                                                            <path class="st9" d="M4.7,0C2.1,0,0,2.1,0,4.7s4.7,9.5,4.7,9.5s4.7-6.9,4.7-9.5S7.3,0,4.7,0z M4.7,7.7C3,7.7,1.5,6.3,1.5,4.5
						S3,1.3,4.7,1.3s3.2,1.4,3.2,3.2S6.5,7.7,4.7,7.7z" style="fill:#E6E9E0;" />
                                                        </g>

                                                    </svg>
                                                </span><span>Get Directions</span></div>
                                        </div>
                                        <div class="contact__item">
                                            <p class="contact__title">Phone</p>
                                            <p class="contact__text contact__text--underline">+62-21 5350 3777</p>
                                            <p class="contact__text contact__text--underline">+62-21 5369 9200</p>
                                            <p class="contact__title">Monday-Friday, 09.00-17.00 WIB</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{>contact-bottom}}
                    </div>
                </div>
                <div class="cover__down display-desktop" id="js-scroll"><a href="#faqs" class="js-cover"><span
                            class="cover__icon cover__icon--white icon-chevron-down"></span></a>
                </div>
            </div>
            <div class="section" id="faqs">
                <div class="content__wrapper no-height">
                    <div class="cover cover--contact cover--fixed cover--invert">
                        <div class="faq">
                            <div class="container clearfix">
                                <div class="faq__wrapper">
                                    <div class="faq__intro cover__intro">
                                        <h2 class="faq__title title__stripe">FAQ</h2>
                                    </div>
                                    <div>
                                        <dl class="faq__list">
                                            <dt class="faq__question">Bagaimana cara saya melamar pekerjaan/magang di
                                                Pijaru?</dt>
                                            <dd class="faq__answer">Lorem ipsum dolor sit amet consectetur adipisicing
                                                elit. Commodi iste ad debitis inventore, hic possimus, laboriosam
                                                tempore quos id facilis nulla nemo, fuga quo mollitia quaerat
                                                consequuntur quam doloremque quia!</dd>

                                            <dt class="faq__question">Bagaimana cara saya melamar pekerjaan/magang di
                                                Pijaru?</dt>
                                            <dd class="faq__answer">Lorem ipsum dolor sit amet consectetur adipisicing
                                                elit. Commodi iste ad debitis inventore, hic possimus, laboriosam
                                                tempore quos id facilis nulla nemo, fuga quo mollitia quaerat
                                                consequuntur quam doloremque quia!</dd>

                                            <dt class="faq__question">Bagaimana cara saya melamar pekerjaan/magang di
                                                Pijaru?</dt>
                                            <dd class="faq__answer">Lorem ipsum dolor sit amet consectetur adipisicing
                                                elit. Commodi iste ad debitis inventore, hic possimus, laboriosam
                                                tempore quos id facilis nulla nemo, fuga quo mollitia quaerat
                                                consequuntur quam doloremque quia!</dd>

                                            <dt class="faq__question">Bagaimana cara saya melamar pekerjaan/magang di
                                                Pijaru?</dt>
                                            <dd class="faq__answer">Lorem ipsum dolor sit amet consectetur adipisicing
                                                elit. Commodi iste ad debitis inventore, hic possimus, laboriosam
                                                tempore quos id facilis nulla nemo, fuga quo mollitia quaerat
                                                consequuntur quam doloremque quia!</dd>

                                            <dt class="faq__question">Bagaimana cara saya melamar pekerjaan/magang di
                                                Pijaru?</dt>
                                            <dd class="faq__answer">Lorem ipsum dolor sit amet consectetur adipisicing
                                                elit. Commodi iste ad debitis inventore, hic possimus, laboriosam
                                                tempore quos id facilis nulla nemo, fuga quo mollitia quaerat
                                                consequuntur quam doloremque quia!</dd>
                                            <dt class="faq__question">Bagaimana cara saya melamar pekerjaan/magang di
                                                Pijaru?</dt>
                                            <dd class="faq__answer">Lorem ipsum dolor sit amet consectetur adipisicing
                                                elit. Commodi iste ad debitis inventore, hic possimus, laboriosam
                                                tempore quos id facilis nulla nemo, fuga quo mollitia quaerat
                                                consequuntur quam doloremque quia!</dd>

                                            <dt class="faq__question">Bagaimana cara saya melamar pekerjaan/magang di
                                                Pijaru?</dt>
                                            <dd class="faq__answer">Lorem ipsum dolor sit amet consectetur adipisicing
                                                elit. Commodi iste ad debitis inventore, hic possimus, laboriosam
                                                tempore quos id facilis nulla nemo, fuga quo mollitia quaerat
                                                consequuntur quam doloremque quia!</dd>
                                            <dt class="faq__question">Bagaimana cara saya melamar pekerjaan/magang di
                                                Pijaru?</dt>
                                            <dd class="faq__answer">Lorem ipsum dolor sit amet consectetur adipisicing
                                                elit. Commodi iste ad debitis inventore, hic possimus, laboriosam
                                                tempore quos id facilis nulla nemo, fuga quo mollitia quaerat
                                                consequuntur quam doloremque quia!</dd>

                                            <dt class="faq__question">Bagaimana cara saya melamar pekerjaan/magang di
                                                Pijaru?</dt>
                                            <dd class="faq__answer">Lorem ipsum dolor sit amet consectetur adipisicing
                                                elit. Commodi iste ad debitis inventore, hic possimus, laboriosam
                                                tempore quos id facilis nulla nemo, fuga quo mollitia quaerat
                                                consequuntur quam doloremque quia!</dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cover__down display-desktop" id="js-scroll-2"><a href="#section-2" class="js-cover"><span
                            class="cover__icon cover__icon--white icon-chevron-down"></span></a>
                </div>
            </div>
            <!-- Index Content -->
            <div class="section content" id="jobs-opportunities">
                <div class="content__wrapper">
                    <div class="cover cover--fixed no-height">
                        <div class="jobs">
                            <div class="container clearfix">
                                <div class="jobs__wrapper">
                                    <div class="jobs__intro cover__intro">
                                        <h2 class="jobs__title title__stripe">Job Opportunities</h2>
                                        <p class="jobs__desc">Pijaru is looking for highly motivated, creative people
                                            with strong
                                            qualities of initiative, leadership, and management to join our team.
                                            Recruits are
                                            expected to be comfortable to perform in front of a camera. Below are our
                                            current needs
                                            in each department. We are always looking for the best talent so if you
                                            don't see any
                                            positions that match your skills feel free to send your cover letter, CV,
                                            and portfolio
                                            to jobs@kompas.com </p>
                                    </div>
                                    <ul class="jobs__list pure-g">
                                        <li class="jobs__item pure-u-1 pure-u-md-1-4">
                                            <a href="https://jobs.kompas.com/" target="_blank" class="jobs__link">
                                                <div class="jobs__button">
                                                    <p class="jobs__text jobs__name">VIDEO PRODUCER</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="jobs__item pure-u-1 pure-u-md-1-4">
                                            <a href="https://jobs.kompas.com/" target="_blank" class="jobs__link">
                                                <div class="jobs__button">
                                                    <p class="jobs__text jobs__name">CREATIVE WRITER</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="jobs__item pure-u-1 pure-u-md-1-4">
                                            <a href="https://jobs.kompas.com/" target="_blank" class="jobs__link">
                                                <div class="jobs__button">
                                                    <p class="jobs__text jobs__name">VIDEO DIRECTOR</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="jobs__item pure-u-1 pure-u-md-1-4">
                                            <a href="https://jobs.kompas.com/" target="_blank" class="jobs__link">
                                                <div class="jobs__button">
                                                    <p class="jobs__text jobs__name">VIDEO EDITOR</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="jobs__item pure-u-1 pure-u-md-1-4">
                                            <a href="https://jobs.kompas.com/" target="_blank" class="jobs__link">
                                                <div class="jobs__button">
                                                    <p class="jobs__text jobs__name">MOTION GRAPHIC ARTIST</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="jobs__item pure-u-1 pure-u-md-1-4">
                                            <a href="https://jobs.kompas.com/" target="_blank" class="jobs__link">
                                                <div class="jobs__button">
                                                    <p class="jobs__text jobs__name">Account EXECUTIVE</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="jobs__item pure-u-1 pure-u-md-1-4">
                                            <a href="https://jobs.kompas.com/" target="_blank" class="jobs__link">
                                                <div class="jobs__button">
                                                    <p class="jobs__text jobs__name">social media specialist</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="jobs__item pure-u-1 pure-u-md-1-4">
                                            <a href="https://jobs.kompas.com/" target="_blank" class="jobs__link">
                                                <div class="jobs__button">
                                                    <p class="jobs__text jobs__name">admin support</p>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="jobs__list jobs__list--intern pure-g">
                                        <li class="jobs__item pure-u-1 pure-u-md-1-4">
                                            <a href="https://jobs.kompas.com/" target="_blank" class="jobs__link">
                                                <div class="jobs__button">
                                                    <p class="jobs__text jobs__category">Internship</p>
                                                    <p class="jobs__text jobs__name">VIDEO PRODUCER</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="jobs__item pure-u-1 pure-u-md-1-4">
                                            <a href="https://jobs.kompas.com/" target="_blank" class="jobs__link">
                                                <div class="jobs__button">
                                                    <p class="jobs__text jobs__category">Internship</p>
                                                    <p class="jobs__text jobs__name">CREATIVE WRITER</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="jobs__item pure-u-1 pure-u-md-1-4">
                                            <a href="https://jobs.kompas.com/" target="_blank" class="jobs__link">
                                                <div class="jobs__button">
                                                    <p class="jobs__text jobs__category">Internship</p>
                                                    <p class="jobs__text jobs__name">VIDEO DIRECTOR</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="jobs__item pure-u-1 pure-u-md-1-4">
                                            <a href="https://jobs.kompas.com/" target="_blank" class="jobs__link">
                                                <div class="jobs__button">
                                                    <p class="jobs__text jobs__category">Internship</p>
                                                    <p class="jobs__text jobs__name">VIDEO EDITOR</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="jobs__item pure-u-1 pure-u-md-1-4">
                                            <a href="https://jobs.kompas.com/" target="_blank" class="jobs__link">
                                                <div class="jobs__button">
                                                    <p class="jobs__text jobs__category">Internship</</p> <p
                                                            class="jobs__text jobs__name">MOTION GRAPHIC ARTIST</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="jobs__item pure-u-1 pure-u-md-1-4">
                                            <a href="https://jobs.kompas.com/" target="_blank" class="jobs__link">
                                                <div class="jobs__button">
                                                    <p class="jobs__text jobs__category">Internship</p>
                                                    <p class="jobs__text jobs__name">Account EXECUTIVE</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="jobs__item pure-u-1 pure-u-md-1-4">
                                            <a href="https://jobs.kompas.com/" target="_blank" class="jobs__link">
                                                <div class="jobs__button">
                                                    <p class="jobs__text jobs__category">Internship</</p> <p
                                                            class="jobs__text jobs__name">social media specialist</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="jobs__item pure-u-1 pure-u-md-1-4">
                                            <a href="https://jobs.kompas.com/" target="_blank" class="jobs__link">
                                                <div class="jobs__button">
                                                    <p class="jobs__text jobs__category">Internship</p>
                                                    <p class="jobs__text jobs__name">admin support</p>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Index Content -->
        </div>
    </div>
    {{>footer}}
    {{>script page="contact"}}
</body>

</html>