<!DOCTYPE html>
<html lang="en">
{{>head}}

<body>
    {{>preloader}}
    {{>header page="index"}}
    <div class="overflow clearfix">
        <div class="portofolio portofolio__read portofolio__read--ads">
            <div class="container clearfix">
                {{>gallery}}
                <div class="portofolio__container">
                    <div class="portofolio__big title__stripe">
                        <h2 class="portofolio__name">Keluarga Somat Fan Season 1</h2>
                        <h2 class="portofolio__name">Episode 1 : Mimpi Tajir</h2>
                    </div>
                    <p class="portofolio__cat">Webseries</p>
                    <p class="portofolio__desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt,
                        incidunt
                        omnis id ex temporibus tenetur? Numquam molestias ut voluptatum adipisci aliquam autem repellat.
                        Earum unde officia minus laboriosam rem labore? Lorem ipsum dolor sit amet consectetur
                        adipisicing
                        elit. Sint voluptate rem ab veniam, optio tempore, consequatur voluptatem asperiores quisquam
                        nisi
                        sunt nesciunt maxime ullam omnis repudiandae magni eligendi sapiente officia? Lorem ipsum, dolor
                        sit amet consectetur adipisicing elit. Quo, eius. Fugiat non commodi tempore nulla totam earum
                        dignissimos. Repellendus, autem fugiat saepe nulla assumenda rerum sit. Atque praesentium ab id.
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque similique inventore omnis et
                        fugiat deserunt iusto, minus eum incidunt illum. Quis minima enim nostrum voluptatibus vitae
                        iure expedita natus pariatur!</p>
                    <div class="credits">
                        <div class="credits__button credits__button--black" id="js-credits">Credits</div>
                        <div class="credits__wrapper" id="js-credits-content">
                            <ul class="credits__list">
                                <li class="credits__item">
                                    <p class="credits__title">Executive Producer</p>
                                    <p class="credits__name">Jerry Hadiprojo</p>
                                </li>
                                <li class="credits__item">
                                    <p class="credits__title">Post Producer</p>
                                    <p class="credits__name">Christina Levina</p>
                                </li>
                                <li class="credits__item">
                                    <p class="credits__title">Created & Directed by</p>
                                    <p class="credits__name">
                                        Andre Sugianto <br>
                                        Ardhira Anugrah Putra <br>
                                        Aditya Prabaswara</p>
                                </li>
                                <li class="credits__item">
                                    <p class="credits__title">Copywriter</p>
                                    <p class="credits__name">
                                        Getar Jagatraya</p>
                                </li>
                                <li class="credits__item">
                                    <p class="credits__title">Sound Mixing</p>
                                    <p class="credits__name">
                                        Annas M. Arraisy</p>
                                </li>
                                <li class="credits__item">
                                    <p class="credits__title">Music by</p>
                                    <p class="credits__name">
                                        Bottlesmoker</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {{>bts}}
            </div>
        </div>
        {{>footer}}
        {{>script}}
        <script>
            $('header').addClass('header--ads')
        </script>
</body>

</html>