<!-- Awards -->
<div class="awards">
    <div class="container container--large clearfix">
        <div class="awards__wrapper pure-g">
            <div class="awards__content pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <a href="portofolio-ads.html" target="_blank" class="awards__link">
                    <img class="awards__bg" src="images/awards/awards-bg-1.jpg" alt="awards-bg-1">
                    <div class="awards__box">
                        <p class="awards__title">
                            Surat Untuk Jakarta
                        </p>
                        <ul class="awards__list">
                            <li class="awards__item">
                                <img src="images/awards/winner-picture-hellofest.png" alt="winner-picture-hellofest">
                            </li>
                            <li class="awards__item">
                                <img src="images/awards/winner-animation-ffi.png" alt="winner-animation-ffi">
                            </li>
                            <li class="awards__item">
                                <img src="images/awards/nomin-animated-inmafest.png" alt="nomin-animated-inmafest">
                            </li>
                            <li class="awards__item">
                                <img src="images/awards/nomin-production-inmafest.png" alt="nomin-production-inmafest">
                            </li>
                            <li class="awards__item">
                                <img src="images/awards/nomin-music-inmafest.png" alt="nomin-music-inmafest">
                            </li>
                        </ul>
                    </div>
                </a>
            </div>
            <div class="awards__content pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <a href="portofolio-ads.html" target="_blank" class="awards__link">
                    <img class="awards__bg" src="images/awards/awards-bg-2.jpg" alt="awards-bg-2">
                    <div class="awards__box">
                        <p class="awards__title">
                            Mudik
                        </p>
                        <ul class="awards__list">
                            <li class="awards__item">
                                <img src="images/awards/nomin-animated-ffi.png" alt="nomin-animated-ffi">
                            </li>
                            <li class="awards__item">
                                <img src="images/awards/finalist-30-hellofest.png" alt="finalist-30-hellofest">
                            </li>
                        </ul>
                    </div>
                </a>
            </div>
            <div class="awards__content pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <a href="portofolio-ads.html" target="_blank" class="awards__link">
                    <img class="awards__bg" src="images/awards/awards-bg-3.jpg" alt="awards-bg-2">
                    <div class="awards__box">
                        <p class="awards__title">
                            Teater Tanpa Kata
                        </p>
                        <ul class="awards__list">
                            <li class="awards__item">
                                <img src="images/awards/winner-short-maya.png" alt="winner-short-maya">
                            </li>
                        </ul>
                    </div>
                </a>
            </div>
            <div class="awards__content pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <a href="portofolio-ads.html" target="_blank" class="awards__link">
                    <img class="awards__bg" src="images/awards/awards-bg-4.jpg" alt="awards-bg-2">
                    <div class="awards__box">
                        <p class="awards__title">
                            Tentang Kita dan Kisah-Kisah Setelahnya
                        </p>
                        <ul class="awards__list">
                            <li class="awards__item">
                                <img src="images/awards/finalist-live-hellofest.png" alt="finalist-live-hellofest">
                            </li>
                        </ul>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Awards -->
