<!-- Behind The Scenes -->
<div class="bts">
    <p class="bts__intro title__stripe">Behind the Scenes / Styleframes
    </p>
    <ul class="bts__list">
        <li class="bts__item"><img src="images/porto-width.jpg" alt="porto-width"></li>
        <li class="bts__item"><img src="images/bts-50.jpg" alt="bts-50"></li>
        <li class="bts__item"><img src="images/bts-50.jpg" alt="bts-50"></li>
        <li class="bts__item"><img src="images/porto-width.jpg" alt="porto-width"></li>
        <li class="bts__item"><img src="images/bts-30.jpg" alt="bts-30"></li>
        <li class="bts__item"><img src="images/bts-30.jpg" alt="bts-30"></li>
        <li class="bts__item"><img src="images/bts-30.jpg" alt="bts-30"></li>
    </ul>
</div>
<!-- Behind The Scenes -->
