<!-- Clients -->
<div class="clients">
    <div class="container clearfix">
        <div class="clients__wrapper">
            <ul class="clients__list pure-g">
                <li class="clients__item pure-u-1-2 pure-u-md-1-7">
                    <img src="images/sponsor/sponsor-1.png" alt="sponsor-1">
                </li>
                <li class="clients__item pure-u-1-2 pure-u-md-1-7">
                    <img src="images/sponsor/sponsor-2.png" alt="sponsor-2">
                </li>
                <li class="clients__item pure-u-1-2 pure-u-md-1-7">
                    <img src="images/sponsor/sponsor-3.png" alt="sponsor-3">
                </li>
                <li class="clients__item pure-u-1-2 pure-u-md-1-7">
                    <img src="images/sponsor/sponsor-1.png" alt="sponsor-1">
                </li>
                <li class="clients__item pure-u-1-2 pure-u-md-1-7">
                    <img src="images/sponsor/sponsor-2.png" alt="sponsor-2">
                </li>
                <li class="clients__item pure-u-1-2 pure-u-md-1-7">
                    <img src="images/sponsor/sponsor-3.png" alt="sponsor-3">
                </li>
                <li class="clients__item pure-u-1-2 pure-u-md-1-7">
                    <img src="images/sponsor/sponsor-1.png" alt="sponsor-1">
                </li>
                <li class="clients__item pure-u-1-2 pure-u-md-1-7">
                    <img src="images/sponsor/sponsor-2.png" alt="sponsor-2">
                </li>
                <li class="clients__item pure-u-1-2 pure-u-md-1-7">
                    <img src="images/sponsor/sponsor-3.png" alt="sponsor-3">
                </li>
                <li class="clients__item pure-u-1-2 pure-u-md-1-7">
                    <img src="images/sponsor/sponsor-1.png" alt="sponsor-1">
                </li>
                <li class="clients__item pure-u-1-2 pure-u-md-1-7">
                    <img src="images/sponsor/sponsor-2.png" alt="sponsor-2">
                </li>
                <li class="clients__item pure-u-1-2 pure-u-md-1-7">
                    <img src="images/sponsor/sponsor-3.png" alt="sponsor-3">
                </li>
                <li class="clients__item pure-u-1-2 pure-u-md-1-7">
                    <img src="images/sponsor/sponsor-1.png" alt="sponsor-1">
                </li>
                <li class="clients__item pure-u-1-2 pure-u-md-1-7">
                    <img src="images/sponsor/sponsor-2.png" alt="sponsor-2">
                </li>
                <li class="clients__item pure-u-1-2 pure-u-md-1-7">
                    <img src="images/sponsor/sponsor-3.png" alt="sponsor-3">
                </li>
                <li class="clients__item pure-u-1-2 pure-u-md-1-7">
                    <img src="images/sponsor/sponsor-1.png" alt="sponsor-1">
                </li>
                <li class="clients__item pure-u-1-2 pure-u-md-1-7">
                    <img src="images/sponsor/sponsor-2.png" alt="sponsor-2">
                </li>
                <li class="clients__item pure-u-1-2 pure-u-md-1-7">
                    <img src="images/sponsor/sponsor-3.png" alt="sponsor-3">
                </li>
                <li class="clients__item pure-u-1-2 pure-u-md-1-7">
                    <img src="images/sponsor/sponsor-1.png" alt="sponsor-1">
                </li>
                <li class="clients__item pure-u-1-2 pure-u-md-1-7">
                    <img src="images/sponsor/sponsor-2.png" alt="sponsor-2">
                </li>
                <li class="clients__item pure-u-1-2 pure-u-md-1-7">
                    <img src="images/sponsor/sponsor-3.png" alt="sponsor-3">
                </li>
                <li class="clients__item pure-u-1-2 pure-u-md-1-7">
                    <img src="images/sponsor/sponsor-1.png" alt="sponsor-1">
                </li>
                <li class="clients__item pure-u-1-2 pure-u-md-1-7">
                    <img src="images/sponsor/sponsor-2.png" alt="sponsor-2">
                </li>
                <li class="clients__item pure-u-1-2 pure-u-md-1-7">
                    <img src="images/sponsor/sponsor-3.png" alt="sponsor-3">
                </li>
                <li class="clients__item pure-u-1-2 pure-u-md-1-7">
                    <img src="images/sponsor/sponsor-1.png" alt="sponsor-1">
                </li>
                <li class="clients__item pure-u-1-2 pure-u-md-1-7">
                    <img src="images/sponsor/sponsor-2.png" alt="sponsor-2">
                </li>
                <li class="clients__item pure-u-1-2 pure-u-md-1-7">
                    <img src="images/sponsor/sponsor-3.png" alt="sponsor-3">
                </li>
                <li class="clients__item pure-u-1-2 pure-u-md-1-7">
                    <img src="images/sponsor/sponsor-1.png" alt="sponsor-1">
                </li>
                <li class="clients__item pure-u-1-2 pure-u-md-1-7">
                    <img src="images/sponsor/sponsor-2.png" alt="sponsor-2">
                </li>
                <li class="clients__item pure-u-1-2 pure-u-md-1-7">
                    <img src="images/sponsor/sponsor-3.png" alt="sponsor-3">
                </li>
                <li class="clients__item pure-u-1-2 pure-u-md-1-7">
                    <img src="images/sponsor/sponsor-1.png" alt="sponsor-1">
                </li>
                <li class="clients__item pure-u-1-2 pure-u-md-1-7">
                    <img src="images/sponsor/sponsor-2.png" alt="sponsor-2">
                </li>
                <li class="clients__item pure-u-1-2 pure-u-md-1-7">
                    <img src="images/sponsor/sponsor-3.png" alt="sponsor-3">
                </li>
                <li class="clients__item pure-u-1-2 pure-u-md-1-7">
                    <img src="images/sponsor/sponsor-1.png" alt="sponsor-1">
                </li>
                <li class="clients__item pure-u-1-2 pure-u-md-1-7">
                    <img src="images/sponsor/sponsor-2.png" alt="sponsor-2">
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Clients -->
