<!-- Cover -->
<div class="section cover" id="cover">
    <div class="display-table">
        <div class="display-center">
            <div class="container container__large ps3">
                <div class="cover__wrapper">

                    <div class="cover__inl">
                        <div class="cover__inline cover__inline--left"><img src="images/pijaru-text-endless.png" alt=""
                                class="cover__img"></div>
                        <div class="cover__inline cover__inline--right"><img src="images/animated-icon-pijaru.gif"
                                alt="" class="cover__img"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cover__down" id="js-scroll"><a href="#our-works" class="js-cover"><span
                class="cover__icon icon-chevron-down"></span></a>
    </div>
</div>
<!-- Cover -->

{{!-- <h1 class="cover__item cover__caption cover__caption--small">Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Omnis quia praesentium excepturi facere magni minus iure amet sunt sint nemo rerum, nisi quasi porro debitis
    recusandae exercitationem laborum temporibus dolore!</h1>
<div class="cover__item cover__item--top">
    <img class="cover__img" src="images/pijaru-text.png" alt="pijaru-text">
</div> --}}