<!-- Cover -->
<div class="section cover" id="section-1">
    <div class="display-table">
        <div class="display-center">
            <div class="container container__large">
                <video poster="images/cover-about.jpg" loop preload="none" autoplay id="bgvid"
                    class="cover__video">
                    <source src="videos/about-pinata.webm" type="video/webm">
                    <source src="videos/about-pinata.mp4" type="video/mp4">
                </video>
                <h1 class="cover__caption">
                    Established in 2016, Pijaru is a video production company; a subsidiary of Kompas Gramedia Group,
                    Indonesia’s premier media company. Since our establishment, Pijaru is known for its heartwarming
                    short films and web series, offbeat comedy work, exciting documentaries, and award-winning motion
                    graphics storytelling.
                </h1>
                <h1 class="cover__desc">
                    Our works have won and been nominated for multiple awards, </br>including Piala Citra (Surat untuk
                    Jakarta, Mudik) and Piala Maya (Teater Tanpa Kata).
                </h1>
            </div>
        </div>
    </div>
    <div class="cover__down" id="js-team"><a href="#team" class="js-cover"><span
                class="cover__icon icon-chevron-down"></span></a>
    </div>
</div>
<!-- Cover -->