<footer>
    <div class="footer">
        <div class="container clearfix">
            <div class="footer__wrapper pure-g">
                <div class="footer__menu pure-u-1 pure-u-md-2-5">
                    <ul class="footer__menu__list">
                        <li class="footer__menu__item"><a href="index.html">Home</a></li>
                        <li class="footer__menu__item"><a href="index.html#our-works">Our Works</a></li>
                        <li class="footer__menu__item"><a href="about-us.html">About Us</a></li>
                        <li class="footer__menu__item"><a href="contact-us.html#faqs">FAQ</a></li>
                        <li class="footer__menu__item"><a href="contact-us.html">Contact Us</a></li>
                    </ul>
                </div>
                <div class="footer__logo pure-u-1 pure-u-md-1-5">
                    <a href="index.html" class="footer__icon footer__icon--small display-desktop">
                    <img src="images/pijaru-logo-invert.png" alt="pijaru-logo"></a>
                    <a href="index.html" class="footer__icon display-mobile">
                    <img src="images/pijaru-text-invert.png" alt="pijaru-logo"></a>
                    </div>
                <div class="footer__social pure-u-1 pure-u-md-2-5">
                    <ul class="social__list">
                        <li class="social__item"><a href="#"><span class="social__icon icon-fb"></span></a></li>
                        <li class="social__item"><a href="#"><span class="social__icon icon-tw"></span></a></li>
                        <li class="social__item"><a href="#"><span class="social__icon icon-youtube"></span></a></li>
                        <li class="social__item"><a href="#"><span class="social__icon icon-instagram"></span></a></li>
                        <li class="social__item"><a href="#"><span class="social__icon icon-line"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
