<!-- Gallery -->
<div class="gallery">
    <div class="gallery__wrapper">
        <ul class="gallery__list" id="js-gallery">
            <li class="gallery__item"><img src="images/porto-big.jpg" alt="porto-big"></li>
            <li class="gallery__item"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/l3gYlqXrijU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
            <li class="gallery__item"><img src="images/porto-big.jpg" alt="porto-big"></li>
            <li class="gallery__item"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/l3gYlqXrijU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
        </ul>
    </div>
</div>
<!-- Gallery -->
