<!-- Header -->
<header class="header{{#eq page compare="invert"}} invert{{/eq}}" id="js-nav">
    <div class="header__wrapper container">
        <div class="header__logo">
            <a href="index.html" class="header__img header__img--orange"></a>
            {{!-- <a href="#home" class="header__img header__img--white"><img src="images/pijaru-text-invert.png"
                    alt="pijaru-text"></a> --}}
        </div>
        <nav class="nav-collapse">
            <ul>
                <li class="menu-item"><a href="index.html#our-works">Our Works</a></li>
                <li class="menu-item {{#eq page compare="about"}}active{{/eq}}"><a href="about-us.html">About Us</a></li>
                <li class="menu-item {{#eq page compare="invert"}}active{{/eq}}"><a href="contact-us.html">Contact Us</a></li>
            </ul>
        </nav>
    </div>
</header>
<!-- Header -->
