<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width">
    <title>Pijaru</title>
    <meta name="description" content="pijaru - Situs ... ternama indonesia ">
    <meta name="keywords" content="berita">
    <meta name="robots" content="index, follow" />
    <meta name="googlebot-news" content="index,follow" />
    <meta name="googlebot" content="index,follow" />
    <meta name="author" content="pijaru.com">
    <meta name="language" content="id" />
    <meta name="geo.country" content="id" />
    <meta http-equiv="content-language" content="In-Id" />
    <meta name="geo.placename" content="Indonesia" />
    <meta http-equiv="Copyright" content="PT. Uninet Bhaktinusa" />
    <meta name="thumbnailUrl" content="" itemprop="thumbnailUrl" />
    <meta content="http//www.gridoto.com/" itemprop="url" />
    <meta name="content_category" content="Home" />
    <meta name="content_subcategory" content="" />
    <meta name="content_location" content="" />
    <meta name="content_author" content="" />
    <meta name="content_editor" content="" />
    <meta name="content_lipsus" content="" />
    <meta name="content_type" content="" />
    <meta name="content_PublishedDate" content="" />
    <meta name="content_source" content="" />
    <meta name="content_tag" content="" />
    <meta name="content_total_words" content="" />
    <link rel="shortcut icon" href="images/favicon-64x64.png" />
    <link type="text/css" rel="stylesheet" href="css/style.min.css">
    <link type="text/css" rel="stylesheet" href="https://alvarotrigo.com/fullPage/jquery.fullPage.css">
    {{!-- <link type="text/css" rel="stylesheet" href="fonts/icon/icon.css"> --}}
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500|Montserrat:200,300,400,500,600,700,800,900|Source+Sans+Pro:400,600,700" rel="stylesheet">
    <script src="js/jquery.min.js"></script>
</head>
