<!-- Pjtabs Nav -->
<div class="pjtabs__nav">
    <ul class="pjtabs__links">
        <li class="active"><a href="#tab1">Portofolio</a></li>
        <li><a href="#tab2">Programs</a></li>
        <li><a href="#tab3">Clients</a></li>
        <li><a href="#tab4">Awards</a></li>
    </ul>

    <div class="pjtabs__content">
        <div id="tab1" class="pjtabs active">
            {{>portofolio}}

        </div>

        <div id="tab2" class="pjtabs">
            {{>programs}}
        </div>

        <div id="tab3" class="pjtabs">
            {{>clients}}
        </div>

        <div id="tab4" class="pjtabs">
            {{>awards}}
        </div>
    </div>
</div>
<!-- Pjtabs Nav -->
