<div class="container clearfix">
    <div data-tabs class="pjtabs">
        <div class="pjtabs__item">
            <input type="radio" name="tabgroup" id="tab-1" checked>
            <label for="tab-1">Portofolio</label>
            <div class="pjtabs__content">
                {{>portofolio}}
            </div>
        </div>
        <div class="pjtabs__item">
            <input type="radio" name="tabgroup" id="tab-2">
            <label for="tab-2">Programs</label>
            <div class="pjtabs__content">
                <img src='https://images.unsplash.com/photo-1532121032426-855c544b816f?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=b5a2780fa81d82949dd51574cd865477'
                    alt=''>
                <div class="text">
                    <h4>Tab 2 heading</h4>
                    <p>Suspendisse sed velit ac sapien gravida vestibulum quis vitae est. Sed fermentum
                        posuere aliquam. Morbi dictum eget eros nec rutrum. Duis hendrerit tincidunt
                        commodo. Nunc sed enim sed sapien ultricies finibus. Ut commodo magna in arcu
                        euismod pretium. Donec a pharetra felis. Aliquam erat volutpat. Etiam turpis mi,
                        vehicula sed felis non, accumsan elementum lorem. Donec porttitor faucibus
                        tincidunt. Curabitur mattis, odio vel porta pulvinar, erat risus bibendum libero,
                        mollis dignissim lorem nibh vitae quam. </p>
                </div>
            </div>
        </div>
        <div class="pjtabs__item">
            <input type="radio" name="tabgroup" id="tab-3">
            <label for="tab-3">Clients</label>
            <div class="pjtabs__content">
                <img class="fullwidth"
                    src="https://images.unsplash.com/photo-1516474004458-f7f1cf523802?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=159b736c19f09a25cdd04e3ecd7ed6f5"
                    alt="" />
                <div class="text">
                    <h4>Tab 3 heading</h4>
                    <p>Nunc a ex vitae arcu semper pharetra. Vivamus faucibus sed nibh in molestie. Donec
                        eget nulla sed enim elementum pharetra ut ut nunc. Cras dignissim sit amet justo sit
                        amet dictum. Vestibulum enim ipsum, fermentum eu magna tincidunt, placerat aliquet
                        elit. Morbi ut ornare nisl. Nullam fermentum, elit eu interdum maximus, est ipsum
                        viverra est, nec ultricies lacus magna et sem. Aenean ligula metus, facilisis vitae
                        egestas quis, vulputate et ante. Ut leo nisl, condimentum vitae nulla non, ultrices
                        sollicitudin purus. Nunc dui velit, faucibus accumsan pellentesque at, accumsan ac
                        magna. Nullam laoreet vulputate ligula vel elementum. Integer pretium iaculis
                        dignissim. Praesent eget quam et tortor efficitur bibendum. Sed sed lacinia mi.
                        Proin eu massa augue. Aliquam dignissim, metus sed porttitor tincidunt, massa nulla
                        pharetra ipsum, sit amet interdum purus elit ut dolor. </p>
                    <a href="/">Interdum Purus Elit</a>
                    <a href="/">Aenean Ligula</a>
                </div>
            </div>
        </div>
        <div class="pjtabs__item">
            <input type="radio" name="tabgroup" id="tab-4">
            <label for="tab-4">Awards</label>
            <div class="pjtabs__content">
                <img class="fullwidth"
                    src='https://images.unsplash.com/photo-1524595974748-074187548e50?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=23c075283861f925c15cc07972257b86'
                    alt="" />
                <div class="text">
                    <h4>Tab 4 heading</h4>
                    <p>Maecenas sit amet orci ac erat pharetra dapibus vel ut erat. Nunc interdum eros
                        ipsum, a congue arcu blandit sit amet. Vestibulum vulputate hendrerit sem ac
                        vestibulum. Nam non quam eget odio congue efficitur eget id sem. In id ligula quam.
                        Sed sed ligula a elit feugiat consequat quis at diam. In aliquam lectus feugiat
                        egestas tempus. Fusce lobortis efficitur commodo. In vel nibh a nibh tempus
                        bibendum. Nunc lobortis mauris eget libero feugiat consectetur. Curabitur enim nisi,
                        scelerisque ac sapien ut, viverra mattis est. Maecenas porta mollis nisi, in
                        vehicula turpis aliquet ac. Nunc bibendum mollis libero, eu suscipit leo dapibus
                        vel. Nunc faucibus dolor efficitur justo interdum, eget scelerisque est ullamcorper.
                        Phasellus luctus eros at odio aliquet gravida. Curabitur vulputate eu ante vel
                        sodales. </p>
                </div>
            </div>
        </div>
    </div>
</div>