<!-- Portofolio -->
<div class="portofolio">
    <div class="container clearfix">
        <div class="portofolio__wrapper">
            <ul class="portofolio__list">
                <li class="portofolio__item">
                    <a href="portofolio-detail.html" target="_blank">
                        <picture>
                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                            <source srcset="images/porto-width.jpg" media="(min-width: 1025px)">
                            <img srcset="images/porto-width-small.jpg" alt="">
                            <!--[if IE 9]></video><![endif]-->
                        </picture>
                        <div class="portofolio__overlay">
                            <p class="portofolio__title">KG Media</p>
                            <p class="portofolio__category">TV Commercial / Kompas Gramedia</p>
                        </div>
                    </a>
                </li>
                <li class="portofolio__item">
                    <a href="portofolio-ads.html" target="_blank">
                        <picture>
                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                            <source srcset="images/porto-width-small.jpg" media="(min-width: 1025px)">
                            <img srcset="images/porto-width-small.jpg" alt="">
                            <!--[if IE 9]></video><![endif]-->
                        </picture>
                        <div class="portofolio__overlay">
                            <p class="portofolio__title">Buku Warisan</p>
                            <p class="portofolio__category">Web Series / Gramedia.com</p>
                        </div>
                    </a>
                </li>
                <li class="portofolio__item">
                    <a href="portofolio-detail.html" target="_blank">
                        <picture>
                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                            <source srcset="images/porto-width-small.jpg" media="(min-width: 1025px)">
                            <img srcset="images/porto-width-small.jpg" alt="">
                            <!--[if IE 9]></video><![endif]-->
                        </picture>
                        <div class="portofolio__overlay">
                            <p class="portofolio__title">Purnama Di Terminal 3</p>
                            <p class="portofolio__category">Short Film / Angkasa Pura</p>
                        </div>
                    </a>
                </li>
                <li class="portofolio__item">
                    <a href="portofolio-ads.html" target="_blank">
                        <picture>
                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                            <source srcset="images/porto-width.jpg" media="(min-width: 1025px)">
                            <img srcset="images/porto-width-small.jpg" alt="">
                            <!--[if IE 9]></video><![endif]-->
                        </picture>
                        <div class="portofolio__overlay">
                            <p class="portofolio__title">KG Media</p>
                            <p class="portofolio__category">TV Commercial / Kompas Gramedia</p>
                        </div>
                    </a>
                </li>
                <li class="portofolio__item">
                    <a href="portofolio-detail.html" target="_blank">
                        <picture>
                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                            <source srcset="images/porto-width-small.jpg" media="(min-width: 1025px)">
                            <img srcset="images/porto-width-small.jpg" alt="">
                            <!--[if IE 9]></video><![endif]-->
                        </picture>
                        <div class="portofolio__overlay">
                            <p class="portofolio__title">Buku Warisan</p>
                            <p class="portofolio__category">Web Series / Gramedia.com</p>
                        </div>
                    </a>
                </li>
                <li class="portofolio__item">
                    <a href="portofolio-ads.html" target="_blank">
                        <picture>
                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                            <source srcset="images/porto-width-small.jpg" media="(min-width: 1025px)">
                            <img srcset="images/porto-width-small.jpg" alt="">
                            <!--[if IE 9]></video><![endif]-->
                        </picture>
                        <div class="portofolio__overlay">
                            <p class="portofolio__title">Purnama Di Terminal 3</p>
                            <p class="portofolio__category">Short Film / Angkasa Pura</p>
                        </div>
                    </a>
                </li>
                <li class="portofolio__item">
                    <a href="portofolio-detail.html" target="_blank">
                        <picture>
                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                            <source srcset="images/porto-width.jpg" media="(min-width: 1025px)">
                            <img srcset="images/porto-width-small.jpg" alt="">
                            <!--[if IE 9]></video><![endif]-->
                        </picture>
                        <div class="portofolio__overlay">
                            <p class="portofolio__title">KG Media</p>
                            <p class="portofolio__category">TV Commercial / Kompas Gramedia</p>
                        </div>
                    </a>
                </li>
                <li class="portofolio__item">
                    <a href="portofolio-ads.html" target="_blank">
                        <picture>
                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                            <source srcset="images/porto-width-small.jpg" media="(min-width: 1025px)">
                            <img srcset="images/porto-width-small.jpg" alt="">
                            <!--[if IE 9]></video><![endif]-->
                        </picture>
                        <div class="portofolio__overlay">
                            <p class="portofolio__title">Buku Warisan</p>
                            <p class="portofolio__category">Web Series / Gramedia.com</p>
                        </div>
                    </a>
                </li>
                <li class="portofolio__item">
                    <a href="portofolio-detail.html" target="_blank">
                        <picture>
                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                            <source srcset="images/porto-width-small.jpg" media="(min-width: 1025px)">
                            <img srcset="images/porto-width-small.jpg" alt="">
                            <!--[if IE 9]></video><![endif]-->
                        </picture>
                        <div class="portofolio__overlay">
                            <p class="portofolio__title">Purnama Di Terminal 3</p>
                            <p class="portofolio__category">Short Film / Angkasa Pura</p>
                        </div>
                    </a>
                </li>
                <li class="portofolio__item">
                    <a href="portofolio-ads.html" target="_blank">
                        <picture>
                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                            <source srcset="images/porto-width.jpg" media="(min-width: 1025px)">
                            <img srcset="images/porto-width-small.jpg" alt="">
                            <!--[if IE 9]></video><![endif]-->
                        </picture>
                        <div class="portofolio__overlay">
                            <p class="portofolio__title">KG Media</p>
                            <p class="portofolio__category">TV Commercial / Kompas Gramedia</p>
                        </div>
                    </a>
                </li>
                <li class="portofolio__item">
                    <a href="portofolio-detail.html" target="_blank">
                        <picture>
                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                            <source srcset="images/porto-width-small.jpg" media="(min-width: 1025px)">
                            <img srcset="images/porto-width-small.jpg" alt="">
                            <!--[if IE 9]></video><![endif]-->
                        </picture>
                        <div class="portofolio__overlay">
                            <p class="portofolio__title">Buku Warisan</p>
                            <p class="portofolio__category">Web Series / Gramedia.com</p>
                        </div>
                    </a>
                </li>
                <li class="portofolio__item">
                    <a href="portofolio-ads.html" target="_blank">
                        <picture>
                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                            <source srcset="images/porto-width-small.jpg" media="(min-width: 1025px)">
                            <img srcset="images/porto-width-small.jpg" alt="">
                            <!--[if IE 9]></video><![endif]-->
                        </picture>
                        <div class="portofolio__overlay">
                            <p class="portofolio__title">Purnama Di Terminal 3</p>
                            <p class="portofolio__category">Short Film / Angkasa Pura</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Portofolio -->