<!-- preloader -->
<div class="preloader" id="preloader">
    <div class="display-table">
        <div class="display-center">
            <div class="preloader__wrap">
                <object data="images/pijaru-wht.gif" type="image/gif"></object>
            </div>
        </div>
    </div>
</div>
<!-- preloader -->
