<!-- Progtabs -->
<div class="progtabs">
    <div class="container clearfix">
        <div class="progtabs__nav">
            <ul class="progtabs__links slider-nav">
                <li class="active">Web Series</li>
                <li>Sketches</li>
                <li>Short Films</li>
                <li>Motion Graphics</li>
            </ul>

            <ul class="progtabs__content slider-for">
                <li id="progtab1" class="progtabs__item">
                    {{>webseries}}
                </li>

                <li id="progtab2" class="progtabs__item">
                    {{>sketches}}
                </li>

                <li id="progtab3" class="progtabs__item">
                    {{>shortfilms}}
                </li>

                <li id="progtab4" class="progtabs__item">
                    {{>motiongraphics}}
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Progtabs -->
