<!-- Programs -->
<div class="programs">
    <div class="container container--large clearfix">
        <ul class="programs_list slider-programs">
            <li class="programs__item">
                <div class="programs__wrapper">
                    <div class="programs__img"><img src="images/programs-webseries-small.jpg" srcset="images/programs-webseries-small.jpg 768w, images/programs-webseries.jpg 1000w" alt="programs-webseries"></div>
                    <div class="programs__overlay">
                        <p class="programs__name">Web Series</p>
                    </div>
                </div>
            </li>
            <li class="programs__item">
                <div class="programs__wrapper">
                    <div class="programs__img"><img src="images/programs-sketch-small.jpg" srcset="images/programs-sketch-small.jpg 768w, images/programs-sketch.jpg 1000w" alt="programs-sketch"></div>
                    <div class="programs__overlay">
                        <p class="programs__name">Sketches</p>
                    </div>
                </div>
            </li>
            <li class="programs__item">
                <div class="programs__wrapper">
                    <div class="programs__img"><img src="images/programs-shortfilm-small.jpg" srcset="images/programs-shortfilm-small.jpg 768w, images/programs-shortfilm.jpg 1000w" alt="programs-shortfilm"></div>
                    <div class="programs__overlay">
                        <p class="programs__name">Short Films</p>
                    </div>
                </div>
            </li>
            <li class="programs__item">
                <div class="programs__wrapper">
                    <div class="programs__img"><img src="images/programs-motiongraphic-small.jpg" srcset="images/programs-motiongraphic-small.jpg 768w, images/programs-motiongraphic.jpg 1000w" alt="programs-motiongraphic"></div>
                    <div class="programs__overlay">
                        <p class="programs__name">Motion Graphic</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
{{>progtabs}}
<!-- Programs -->
