<!-- Web Series -->
<div class="pjslider">
    <div class="pjslider__wrapper">
        <div class="pjslider__content pure-g">
            <div class="pjslider__item pure-u-1 pure-u-md-2-5">
                <div class="pjslider__box">
                    <p class="pjslider__title">Web Series</p>
                    <p class="pjslider__desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam placeat
                        ipsum ut incidunt. Officia, quam dolorum. Corporis, doloribus tempora officia ullam laboriosam
                        ab commodi in obcaecati id repellat nostrum totam!</p>
                </div>
            </div>
            <div class="pjslider__item pure-u-1 pure-u-md-3-5">
                <div class="card">
                    <ul class="card__list">
                        <li class="card__item">
                            <a href="portofolio-detail.html" target="_blank">
                                <div class="card__img"><img src="images/project-slide-1.jpg" alt="project-slide-1">
                                </div>
                                <div class="card__overlay">
                                    <p class="card__title">Keluarga Somat Fan</p>
                                </div>
                            </a>
                        </li>
                        <li class="card__item">
                            <a href="portofolio-detail.html" target="_blank">
                                <div class="card__img"><img src="images/project-slide-2.jpg" alt="project-slide-2">
                                </div>
                                <div class="card__overlay">
                                    <p class="card__title">Masih Numpang</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Web Series -->
